{% trans_default_domain "charity" %}
{% use "DothivCharityWebsiteBundle:partials:blocks.html.twig" %}

{% set step1 = content('Block', 'basicedit.step1') %}
{% set step1_forwarding = step1.children[0] %}
{% set step1_language = step1.children[1] %}
{% set step2 = content('Block', 'basicedit.step2') %}
{% set step2_secondvisit = step2.children[0] %}
{% set step2_invisiblehint = step2.children[1] %}
{% set step3 = content('Block', 'basicedit.step3') %}
{% set step3_domain = content('Block', 'basicedit.step3.domain') %}
{% set step3_forward = content('Block', 'basicedit.step3.forward') %}

<div class="container">
    <div class="row">
        <div class="span12 profile-heading">
            <h2>{% trans %}basicedit.headline{% endtrans %}</h2>
        </div>
    </div>
    <div class="row">
        <div class="span12" data-ng-hide="banner.$resolved">
            <p class="text-center">{{ block('loading') }}</p>
        </div>
        <div class="span12" data-ng-show="banner.$resolved">
            <form novalidate name="domaineditbasic">
                <div class="row-fluid" data-ng-show="errorMessage">
                    <div class="span12 alert alert-danger" data-ng-bind="errorMessage"></div>
                </div>
                <tabset>
                    <tab active="tab1.active">
                        <tab-heading>{{ step1.title }}</tab-heading>
                        <div class="tab-content-container" data-ng-form="step1" name="step1">
                            {% if step1.text is defined %}
                                <div class="row-fluid">
                                    <div class="offset2 span8">
                                        {{ step1.text|markdown }}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row-fluid">
                                <div class="offset2 span8">
                                    <div>
                                        {{ step1_forwarding.text|markdown }}
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="offset2 span8">
                                    <label>
                                        <input type="radio" name="forwardRadio" data-ng-model="domaineditbasic.$data.forwarding" value="true"> {{ step1_forwarding.children[0].title }}
                                        <br>
                                        <small>{{ step1_forwarding.children[0].text }}</small>
                                    </label>

                                    <div data-ng-show="domaineditbasic.$data.forwarding == 'true'">
                                        <label for="basicEditFormTargetName"> {{ step1_forwarding.children[1].title }}
                                            <br>
                                            <small>{{ step1_forwarding.children[1].text }}</small>
                                        </label>
                                        <input type="url" name="targetName" id="basicEditFormTargetName" data-ng-model="banner.redirect_url" data-ng-required="domaineditbasic.$data.forwarding == 'true'">
                                    </div>

                                    <label>
                                        <input type="radio" name="forwardRadio" data-ng-model="domaineditbasic.$data.forwarding" value="false"> {{ step1_forwarding.children[2].title }}
                                        <br>
                                        <small>{{ step1_forwarding.children[2].text }}</small>
                                    </label>

                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="offset2 span8">
                                    {{ step1_language.text|markdown }}
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="offset2 span8">
                                    <div class="horizontal-radio-group">
                                        {% for l in ['en', 'de', 'es', 'fr'] %}
                                            <label>
                                                <input type="radio" name="languages" data-ng-model="banner.language" value="{{ l }}" required>
                                                {% set code = 'domain.language.' ~ l %}
                                                {{ code|trans }}
                                            </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="offset2 span8">
                                    <button class="next" data-ng-click="nextStep(tab2, step1)" data-ng-disabled="!domaineditbasic.$valid">
                                        {% trans %}generic.button.next{% endtrans %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab active="tab2.active" disabled="!step1.$valid">
                        <tab-heading>{{ step2.title }}</tab-heading>
                        <div class="tab-content-container" data-ng-form="step2">
                            {% if step2.text is defined %}
                                <div class="row-fluid">
                                    <div class="offset2 span8">
                                        {{ step2.text|markdown }}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row-fluid">
                                {% for p in ['top', 'bottom', 'left', 'right'] %}
                                    {% if loop.first %}
                                        {% set offset = "offset2" %}
                                    {% else %}
                                        {% set offset = "" %}
                                    {% endif %}
                                    {% block position %}
                                        <div class="span2 {{ offset }} position-radio-container">
                                            <label>
                                                {# Not possible with assetic: https://github.com/kriswallsmith/assetic/issues/60 #}
                                                <img src="/bundles/dothivcharitywebsite/images/clickcounter/{{ p }}.png" alt="{{ p }}"><br>
                                                <input type="radio" name="positionRadio" data-ng-model="banner.position_first" value="{{ p }}" required><br>
                                                {{ ('domain.position.' ~ p)|trans }}
                                            </label>
                                        </div>
                                    {% endblock %}
                                {% endfor %}
                            </div>
                            <div class="row-fluid">
                                {% set offset = "offset8" %}
                                {% set p = "invisible" %}
                                {{ block('position') }}
                            </div>

                            <div class="row-fluid">
                                <div class="offset2 span8">
                                    <label>
                                        <input type="checkbox" name="secondvisitBox" data-ng-model="domaineditbasic.$data.secondvisit" value="true">
                                        {{ step2_secondvisit.title }}
                                    </label>
                                    {{ step2_secondvisit.text|markdown }}
                                </div>
                            </div>
                            <div class="row-fluid" data-ng-show="domaineditbasic.$data.secondvisit == true">
                                {% for p in ['topleft-micro', 'top-micro', 'topright-micro', 'invisible'] %}
                                    {% if loop.first %}
                                        {% set offset = "offset2" %}
                                    {% else %}
                                        {% set offset = "" %}
                                    {% endif %}
                                    <div class="span2 {{ offset }} position-radio-container">
                                        <label>
                                            {# Not possible with assetic: https://github.com/kriswallsmith/assetic/issues/60 #}
                                            <img src="/bundles/dothivcharitywebsite/images/clickcounter/{{ p }}.png" alt="{{ p }}"><br>
                                            <input type="radio" name="secondpositionRadio" data-ng-model="banner.position" value="{{ p }}" data-ng-required="domaineditbasic.$data.secondvisit == true"><br>
                                            {{ ('domain.position.' ~ p)|trans }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="row-fluid">
                                <div class="offset2 span4">
                                    <button data-ng-click="tab1.active = true" class="back">
                                        {% trans %}generic.button.back{% endtrans %}
                                    </button>
                                </div>
                                <div class="span4">
                                    <button class="next" data-ng-click="submit(tab3)" data-ng-disabled="!domaineditbasic.$valid">
                                        {% trans %}generic.button.next{% endtrans %}&nbsp;</button>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab active="tab3.active" disabled="true">
                        <tab-heading>{{ step3.title }}</tab-heading>
                        <div class="tab-content-container" style="font-style: normal;">
                            <div data-ng-show="!banner.$resolved">
                                <p class="text-center">{{ block('loading') }}</p>
                            </div>
                            
                            <div data-ng-show="banner.$resolved">
                                <div data-ng-show="domaineditbasic.$data.forwarding == 'false'">
                                    {% set task = step3_domain %}
                                    {% block install %}
                                    <div class="row-fluid">
                                        <div class="offset2 span8">
                                            <h3>
                                        <span class="span1 text-center">
                                            <i class="icon-greentick"></i>
                                        </span>
                                        <span class="span11">
                                            {{ task.text }}
                                        </span>
                                            </h3>
                                        </div>
                                    </div>
                                    {% if task.textMore is defined %}
                                    <div class="row-fluid">
                                        <div class="offset2 span8">
                                            {{ task.textMore|default("")|markdown }}
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% for taskChild in task.children %}
                                    <div class="row-fluid">
                                        <div class="offset2 span8 well">
                                            {% if taskChild.image %}
                                            <p class="text-center">
                                                <img src="{{ taskChild.image.file.url }}" alt="{{ taskChild.image.title }}"/>
                                            </p>
                                            {% endif %}

                                            <h4>{{ taskChild.title }}</h4>

                                            {{ taskChild.text|markdown }}
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% endblock install %}
                                </div>
                                <div data-ng-show="domaineditbasic.$data.forwarding == 'true'">
                                    {% set task = step3_forward %}
                                    {{ block('install') }}
                                </div>
                                <div class="row-fluid">
                                    <div class="offset2 span8">
                                        <button class="back" data-ng-click="tab2.active = true">
                                            {% trans %}generic.button.back{% endtrans %}
                                        </button>
                                        <a href="{{ path('dothiv_charity_account_index', {'locale': locale}) }}#!/profile/dashboard" class="btn btn-primary next">
                                            {% trans %}basicedit.button.backtodashboard{% endtrans %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            {% include "DothivCharityWebsiteBundle:App:account/legal.html.twig" %}
        </div>
    </div>
</div>
<script type="text/ng-template" id="invisiblehint.html">
    <div class="modal-body">
        {{ step2_invisiblehint.text|markdown }}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-ng-click="$dismiss()">OK</button>
    </div>
</script>

