{% trans_default_domain "charity" %}
{% use "DothivCharityWebsiteBundle:partials:blocks.html.twig" %}

<div class="container">
    <div class="row">
        <div class="offset3 span6 form-well">
            <form name="loginForm" novalidate data-ng-show="state != 'success' && form == 'login'">
                <fieldset>
                    <legend>
                        {% trans %}login.form.title{% endtrans %}
                        <small class="pull-right"><a data-ng-click="form='register'">{% trans %}login.form.showregisterform{% endtrans %}</a></small>
                    </legend>
                    <div class="alert alert-error" data-ng-show="loginErrorMessage" data-ng-bind="loginErrorMessage"></div>
                    <div>
                        <p>{% trans %}login.form.intro{% endtrans %}</p>
                        <label for="loginEmail">
                            {% trans %}login.form.input.email.label{% endtrans %}
                        </label>
                        <input type="email" id="loginEmail" required data-ng-model="loginForm.email">
                        <button class="btn btn-primary pull-right" data-ng-click="login()" data-ng-disabled="loginForm.$invalid" data-ng-show="state == 'form'">
                            {% trans %}login.form.submit{% endtrans %}
                        </button>
                        <input type="hidden" data-ng-model="loginForm.locale" data-ng-init="loginForm.locale='{{ locale }}'">
                        <div data-ng-show="state == 'loading'" class="pull-right">
                            {{ block('loading') }}
                        </div>
                    </div>
                </fieldset>
            </form>
            <form name="registrationForm" novalidate data-ng-show="state != 'success' && form == 'register'">
                <fieldset>
                    <legend>
                        {% trans %}register.form.title{% endtrans %}
                        <small class="pull-right"><a data-ng-click="form='login'">{% trans %}register.form.showloginform{% endtrans %}</a></small>
                    </legend>
                    <div class="alert alert-error" data-ng-show="registerErrorMessage" data-ng-bind="registerErrorMessage"></div>
                    <div>
                        <p>{% trans %}register.form.intro{% endtrans %}</p>
                        <label for="registerEmail">
                            {% trans %}login.form.input.email.label{% endtrans %}
                        </label>
                        <input type="email" id="registerEmail" required data-ng-model="registrationForm.email">

                        <label for="registerFirstname">
                            {% trans %}register.form.input.firstname.label{% endtrans %}
                        </label>
                        <input type="text" id="registerFirstname" required data-ng-model="registrationForm.firstname">

                        <label for="registerSurname">
                            {% trans %}register.form.input.surname.label{% endtrans %}
                        </label>
                        <input type="text" id="registerSurname" required data-ng-model="registrationForm.surname">
                        
                        <button class="btn btn-primary pull-right" data-ng-click="register()" data-ng-disabled="registrationForm.$invalid" data-ng-show="state == 'form'">
                            {% trans %}register.form.submit{% endtrans %}
                        </button>
                        <input type="hidden" data-ng-model="registrationForm.locale" data-ng-init="registrationForm.locale='{{ locale }}'">
                        <div data-ng-show="state == 'loading'" class="pull-right">
                            {{ block('loading') }}
                        </div>
                    </div>
                    <p>{% trans %}register.form.nopassword{% endtrans %}</p>
                </fieldset>
            </form>
            <div data-ng-show="state == 'success'">
                {% set content = content('Block', 'login.success') %}
                <h3>{{ content.title }}</h3>
                {{ content.text|markdown }}
            </div>
        </div>
    </div>
</div>
