<!DOCTYPE html>
<html lang="en" ng-app="dotHIVApp" xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <meta charset="utf-8">
        <meta name="fragment" content="!">
        <title>{% trans %}title{% endtrans %}</title>
        {% stylesheets 'bundles/websitecharity/bootstrap-custom/custom-bootstrap.less' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link rel="shortcut icon" href="{{ asset("bundles/websitecharity/images/favicon.png") }}" />
        

    </head>
    <body>
        <div ng-controller="HeaderController">
            <div class="container">
                <div class="row first">
                    <div class="span2 hiv-logo">
                        <a href="#!/" class="crawlme"><img src="{{ asset("bundles/websitecharity/images/dotHiv-logo.png") }}"></a>
                    </div>
                    <div class="span7">
                        <div class="container">
                            <div class="barmenu first"><a class="crawlme" href="#!"><h4>Projekte</h4></a></div>
                            <div class="barmenu secound"><a class="crawlme" href="#!/about"><h4 ng-class="{ active: state.includes('about') }">Über dotHIV</h4></a></div>
                            <div class="barmenu third"><a class="crawlme" href="#!"><h4>URL registrieren</h4></a></div>
                        </div>
                    </div>
                    <div class="span3">
                        <ul>
                            <li class="accountance dummy" ng-show="!isAuthenticated()"></li>
                            <li class="accountance hover-arrow" ng-show="!isAuthenticated()"><a ng-click="login()">{% trans %}header.menu.login{% endtrans %}</a></li>
                            <li class="accountance hover-arrow" ng-show="isAuthenticated()"><a ng-click="logout()">{% trans %}header.menu.logout{% endtrans %}</a></li>
                            <li class="accountance hover-arrow" ng-show="isAuthenticated()"><a href="#!/profile" ng-class="{ active: state.includes('=.profile') }">{% trans %}header.menu.myprofile{% endtrans %} ([[ security.user.username ]])</a></li>
                            <li class="accountance hover-arrow" ><a ng-click="">{% trans %}header.menu.createproject{% endtrans %}</a></li>
                            <li class="accountance hover-arrow" ><a ng-click="">{% trans %}header.menu.reportabuse{% endtrans %}</a></li>

                            <li class="accountance grey">
                                <div class="language-chooser">
                                    <dh-select class="" ng-model="siteLanguage" dh-options="siteLanguages"></dh-select>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    
            <!-- adopt for mobile useage -->
            <div class="pink-bar rightside">
                <div class="pink-bar leftside text-right" ng-style="{ width: bar.current / bar.total *100 + '%' }">
                    <button type="button" ng-model="showfunding" btn-checkbox ng-show="bar.current / bar.total * 10 > 4">
                        <p>
                            <span class="pink-bar-text">{% trans %} home.pinkbar.activated {% endtrans %}</span>
                            <span class="pink-bar-text bold" id="active-money">€ [[ bar.current ]]</span>
                            <img class="pink-bar-image" src="{{ asset("bundles/websitecharity/images/tick-white.png") }}">
                        </p>
                    </button>
                </div>
                <button type="button" ng-model="showfunding" btn-checkbox ng-show="bar.current / bar.total * 10 < 4">
                    <p>
                        <img class="pink-bar-image right" src="{{ asset("bundles/websitecharity/images/tick-black.png") }}">
                        <span class="pink-bar-text right" >{% trans %} home.pinkbar.activated {% endtrans %}</span>
                        <span class="pink-bar-text right bold" id="active-money">€ [[ bar.current ]]</span>
                    </p>
                </button>
            </div>
            <div class="pink-bar-popover-handle">
                <div ng-show="showfunding" ng-animate="{show: 'pink-bar-popover-show', hide: 'pink-bar-popover-hide'}" class="pink-bar-popover">
                    <div class="container">
                        <div class="row first">
                            <div class="span6 pink-bar-text">
                                <p>{% trans %}home.pinkbar.popover.currentStatus{% endtrans %}</p>
                                <p><span class="activeMoney" id="active-money-popover">€ [[ bar.current ]]</span>
                                {% trans %}home.pinkbar.popover.areActivated{% endtrans %}</p>
                                <p><span class="activeMoney" id="clicks-popover">[[ bar.click ]] Klicks</span>
                                {% trans %}home.pinkbar.popover.missing{% endtrans %}</p>
                                <hr>
                                <p>{% trans %}home.pinkbar.popover.shareNow{% endtrans %}</p>
                                <div class="container">
                                    <div class="row">
                                        <div class="span2">
                                           {% trans %}home.pinkbar.popover.chooseDomainButtonLabel{% endtrans %}:
                                        </div>
                                        <div class="span4">
                                            <div class="control-group input-prepend">
                                                <button class="btn"></button>
                                                <input type="text"></input>
                                                <button class="btn"></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="span2">
                                           {% trans %}home.pinkbar.popover.shareNowButtonLabel{% endtrans %}:
                                        </div>
                                        <div class="span4">
                                           <button class="btn">FB</button>
                                           <button class="btn">TW</button>
                                           <button class="btn">GP</button>     
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="span6 pink-bar-text">
                                <img src="{{ asset("bundles/websitecharity/images/video-static-prev.jpg") }}">
                                <p>{% trans %}home.pinkbar.popover.viewVideo{% endtrans %}
                                <br>{% trans %}home.pinkbar.popover.how{% endtrans %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="clear: both;"></div>
        <div ui-view></div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="span12 center footer-margin">
                        <img class="hiv-42px" src="{{ asset("bundles/websitecharity/images/dotHiv-logo.png") }}">
                        <p class="running-text footer-slogan">{% trans %} footer.slogan {% endtrans %}</p>
                        <div class="container">
                            <div class="row">
                                <div class="span4">
                                    <ul>
                                        <li class="running-text">{% trans %} footer.adress.name {%  endtrans %}</li>
                                        <li class="running-text">{% trans %} footer.adress.street {%  endtrans %}</li>
                                        <li class="running-text">{% trans %} footer.adress.city {%  endtrans %}</li>
                                        <li class="running-text">{% trans %} footer.adress.phone {%  endtrans %}</li>
                                    </ul>
                                </div>
                                <div class="span4">
                                    <ul>
                                        <li><a class="running-text" src="">{% trans %}footer.navi.feedback{% endtrans %}</a></li>
                                        <li><a class="running-text" src="">{% trans %}footer.navi.help{% endtrans %}</a> / <a class="running-text" src="">{% trans %}footer.navi.forum{% endtrans %}</a></li>
                                        <li><a class="running-text" src="">{% trans %}footer.navi.contact{% endtrans %}</a> / <a class="running-text" src="">{% trans %}footer.navi.impressum{% endtrans %}</a></li>
                                        <li><a class="running-text" src="">{% trans %}footer.navi.terms{% endtrans %}</a> / <a class="running-text" src="">{% trans %}footer.navi.privacy{% endtrans %}</a></li>
                                    </ul>
                                </div>
                                <div class="span4">
                                    <ul>
                                        <li><a class="social-link" href="#"><img class="social" src="{{ asset("bundles/websitecharity/images/social-fb.png") }}">{% trans %} footer.social.facebook {% endtrans %}</a></li>
                                        <li><a class="social-link" href="#"><img class="social" src="{{ asset("bundles/websitecharity/images/social-tw.png") }}">{% trans %} footer.social.twitter {% endtrans %}</a></li>
                                        <li><a class="social-link" href="#"><img class="social" src="{{ asset("bundles/websitecharity/images/social-gp.png") }}">{% trans %} footer.social.googleplus {% endtrans %}</a></li>
                                        <li><a class="social-link" href="#"><img class="social" src="{{ asset("bundles/websitecharity/images/social-pi.png") }}">{% trans %} footer.social.pinterest {% endtrans %}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        {% include 'DotHivWebsiteCharityBundle:Default:app.html.twig' %}
    </body>
</html>
