{% macro blockstart(block, level) %}
<div id="{{ block.code|default(block.cfMeta.itemId)|slugify }}" class="cf-{{ block.cfMeta.contentType }}" data-cf-url="{{ block.cfMeta.url }}">
{% endmacro %}

{% macro blockend(block) %}
</div>
{% endmacro %}

{% macro contentBlock(block, level, nchild) %}
<div class="row-fluid cf-level-{{ level }} cf-child-{{ nchild }}" ng-controller="BlockController">
    <div class="span12">
        {% if block.title is defined %}
            <h{{ level }} >{{ block.title }}</h{{ level }}>
        {% endif %}
        {% if block.text is defined %}
            <div class="cfblock-text">
                {{ block.text|markdown }}
            </div>
        {% endif %}
        {% if block.textMore is defined %}
            <nav class="expand-text">
                <a href="#{{ block.code|default(block.cfMeta.itemId)|slugify }}" ng-click="textMoreVisible=1" ng-hide="textMoreVisible" class="more">{% trans %}expand.text.label{% endtrans %}</a>
            </nav>
            <div class="cfblock-textMore" ng-show="textMoreVisible">
                {{ block.textMore|markdown }}
            </div>
            <nav class="expand-text">
                <a href="#{{ block.code|default(block.cfMeta.itemId)|slugify }}" ng-click="textMoreVisible=0" ng-show="textMoreVisible" class="less">{% trans %}contract.text.label{% endtrans %}</a>
            </nav>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro block(block, level, nchild) %}
    {% set nchild = nchild|default(1) %}
    {{ _self.blockstart(block) }}
    {{ _self.contentBlock(block, level, nchild) }}
    {% if block.image.file is defined %}
        <div class="row-fluid">
            <div class="span12">
                <img src="{{ block.image.file.url }}" alt="{{ block.image.title }}" title="{% if block.image.description is defined %}{{ block.image.description }}{% endif %}">
            </div>
        </div>
    {% endif %}
    {% if block.video is defined %}
        <iframe width="569" height="320" src="{{ block.video.embed_url }}" frameborder="0" allowfullscreen></iframe>
    {% endif %}
    {% if block.children is defined %}
        {% for child in block.children %}
            {{ _self.block(child, level+1, loop.index) }}
        {% endfor %}
    {% endif %}
    {{ _self.blockend(block) }}
{% endmacro %}


