{% set locale = locale|default(app.request.locale|slice(0,2)) %}
{% trans_default_domain "registry" %}
{% set title %}{{ page.title }}{% endset %}
{% extends "DothivRegistryWebsiteBundle::page.html.twig" %}
{% block styles %}
    {% stylesheets
    'bundles/dothivshop/lesscss/styles.less'
    '@jquery_mmenu_css'
    filter='cssrewrite,?uglifycss' %}
    <link rel="stylesheet" href="{{ asset(asset_url) }}">
    {% endstylesheets %}
{% endblock styles %}
{% block content %}
    <article data-ng-controller="ShopController" data-ng-init="step = 'contact'" class="shop">
        {% for block in page.blocks|default([]) %}
            {% set code = block.code|replace({"shop.": ""}) %}
            {% if code in ["lookup", "configure", "contact", "done"] %}
                <section class="{{ code }}" data-ng-show="step == '{{ code }}'">
                    <div class="block">
                        <h2>{{ block.title }}</h2>
                        {{ block.text|default("")|markdown }}
                        <form method="post" action="" novalidate name="{{ code }}Form" class="{{ code }}">
                            {% include "DothivShopBundle::Shop/" ~ code ~ ".html.twig" %}
                        </form>
                    </div>
                </section>
            {% endif %}
        {% endfor %}
    </article>
{% endblock %}

{% block angular_app %}
    {% javascripts
    '@jquery'
    '@jquery_mmenu_js'
    '@punycode_js'
    '@angular_js_resource'
    '@angular_js_route'
    '@angular_js_cookies'
    '@angular_ui_router'
    '@angular_ui_bootstrap_tpls'
    '@DothivRegistryWebsiteBundle/Resources/public/js/menu.js'
    '@DothivShopBundle/Resources/public/js/app.js'
    '@DothivBaseWebsiteBundle/Resources/public/js/services/*.js'
    '@DothivBaseWebsiteBundle/Resources/public/js/services/models/*.js'
    '@DothivBaseWebsiteBundle/Resources/public/js/filters/*.js'
    '@DothivRegistryWebsiteBundle/Resources/public/js/controllers/MainNavController.js'
    '@DothivShopBundle/Resources/public/js/controllers/ShopController.js'
    filter='?uglifyjs2'
    output='js/*.min.js' %}
    <script type="text/javascript" src="{{ asset(asset_url) }}"></script>
    {% endjavascripts %}
{% endblock angular_app %}
{% block angular_config %}
    <script type="text/javascript">
        'use strict';
        angular.module('dotHIVApp.services').factory('config', function () {
            var config = {
                locale: '{{ locale }}',
                eur_to_usd: {{ config('eur_to_usd', 'float') }},
                shop: {
                    price: {
                        eur: {{ config('shop.price.eur', 'float') }},
                        usd: {{ config('shop.price.usd', 'float') }}
                    }
                },
                vat: {
                    de: {{ devat }}
                }
            };
            return config;
        });
    </script>
{% endblock angular_config %}
