{% trans_default_domain "charity" %}
<div id="configurator" data-ng-class="{fullscreen: fullscreen}">
    <div id="topnav">
        <nav class="layouts">
            <button data-ng-click="bannerPosition = 'center'">
                {% image '@DothivPremiumConfiguratorBundle/Resources/public/images/banner-position-center.png' %}
                <img src="{{ asset_url }}" alt="{% trans %}pc.preview.center{% endtrans %}" data-ng-show="bannerPosition == 'center'">
                {% endimage %}
                {% image '@DothivPremiumConfiguratorBundle/Resources/public/images/banner-position-center-off.png' %}
                <img src="{{ asset_url }}" alt="{% trans %}pc.preview.center{% endtrans %}" data-ng-show="bannerPosition != 'center'">
                {% endimage %}
            </button>
            <button data-ng-click="bannerPosition = 'top'">
                {% image '@DothivPremiumConfiguratorBundle/Resources/public/images/banner-position-top.png' %}
                <img src="{{ asset_url }}" alt="{% trans %}pc.preview.top{% endtrans %}" data-ng-show="bannerPosition == 'top'">
                {% endimage %}
                {% image '@DothivPremiumConfiguratorBundle/Resources/public/images/banner-position-top-off.png' %}
                <img src="{{ asset_url }}" alt="{% trans %}pc.preview.top{% endtrans %}" data-ng-show="bannerPosition != 'top'">
                {% endimage %}
            </button>
            <button data-ng-click="bannerPosition = 'right'">
                {% image '@DothivPremiumConfiguratorBundle/Resources/public/images/banner-position-right.png' %}
                <img src="{{ asset_url }}" alt="{% trans %}pc.preview.right{% endtrans %}" data-ng-show="bannerPosition == 'right'">
                {% endimage %}
                {% image '@DothivPremiumConfiguratorBundle/Resources/public/images/banner-position-right-off.png' %}
                <img src="{{ asset_url }}" alt="{% trans %}pc.preview.right{% endtrans %}" data-ng-show="bannerPosition != 'right'">
                {% endimage %}
            </button>
        </nav>
        <nav class="preview">
            <button data-ng-click="fullscreen = true" data-ng-show="!fullscreen">
                {% trans %}pc.preview.fullscreen{% endtrans %}
            </button>
            <button data-ng-click="fullscreen = false" data-ng-show="fullscreen">
                {% trans %}pc.preview.fullscreen.close{% endtrans %}
            </button>
            <button class="primary">
                {% trans %}pc.preview.finish{% endtrans %}
            </button>
        </nav>
    </div>
    <iframe src="%iframeUrl%" data-ng-init="iframeUrl='{{ path('dothiv_premiumconfig_preview', {'domain': app.request.get('domain'), 'locale': app.request.get('locale')}) }}'" data-ng-style="iframeStyle"></iframe>
    <div id="settings" data-ng-hide="fullscreen">
        <header>
            <div class="inner">
                <nav>
                    <button data-ng-click="settings = 'general'" data-ng-class="{active: settings == 'general'}">
                        {% trans %}pc.settings.general{% endtrans %}
                    </button>
                    <button data-ng-click="settings = 'images'" data-ng-class="{active: settings == 'images'}">
                        {% trans %}pc.settings.images{% endtrans %}
                    </button>
                    <button data-ng-click="settings = 'colors'" data-ng-class="{active: settings == 'colors'}">
                        {% trans %}pc.settings.colors{% endtrans %}
                    </button>
                    <button data-ng-click="settings = 'fonts'" data-ng-class="{active: settings == 'fonts'}">
                        {% trans %}pc.settings.fonts{% endtrans %}
                    </button>
                    <button data-ng-click="settings = 'style'" data-ng-class="{active: settings == 'style'}">
                        {% trans %}pc.settings.style{% endtrans %}
                    </button>
                    <button data-ng-click="settings = 'extras'" data-ng-class="{active: settings == 'extras'}">
                        {% trans %}pc.settings.extras{% endtrans %}
                    </button>
                </nav>
            </div>
        </header>
        <div class="main">
            <div class="inner">
                <section data-ng-show="settings == 'general'">
                    <form role="form" novalidate name="bannerForm">
                        <fieldset>
                            <div class="form-group">
                                <label for="redirect_url">{% trans %}
                                    pc.settings.general.redirecturl{% endtrans %}</label>
                                <input type="url" id="redirect_url" data-ng-model="banner.redirect_url" data-ng-blur="updateBannerSettings()">
                            </div>
                        </fieldset>
                    </form>
                </section>
                <section data-ng-show="settings == 'images'">
                    {% image '@DothivPremiumConfiguratorBundle/Resources/public/images/empty-image.svg' %}

                    <form role="form" novalidate name="imagesForm">
                        {% set imageType = 'visual' %}
                        {% set uploader = 'visualUploader' %}
                        {% block imageupload %}
                            <fieldset class="imageupload">
                                <label for="{{ imageType }}">
                                    <img src="{{ asset_url }}" alt="" data-ng-hide="premiumBanner.{{ imageType }}">
                                    <img data-ng-src="%premiumBanner.{{ imageType }}%" alt="" data-ng-show="premiumBanner.{{ imageType }}">
                                    {{ ('pc.image.' ~ imageType ~ '.name')|trans }}<br>
                                    <small>{{ ('pc.image.' ~ imageType ~ '.description')|trans }}</small>
                                    <div class="progress" data-ng-repeat="item in {{ uploader }}.queue" data-ng-show="{{ uploader }}.isUploading">
                                        <div class="progress-bar progress-bar-info" role="progressbar" data-ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </label>
                                <nav>
                                    <label for="{{ imageType }}" data-ng-hide="{{ uploader }}.isUploading">{% trans %}pc.image.button.change{% endtrans %}</label>
                                    <button type="reset" data-ng-show="premiumBanner.{{ imageType }}" data-ng-click="premiumBanner.{{ imageType }} = null">{% trans %}pc.image.button.remove{% endtrans %}</button>
                                </nav>
                                <input type="file" id="{{ imageType }}" data-nv-file-select data-uploader="{{ uploader }}">
                            </fieldset>
                        {% endblock %}
                        {% set imageType = 'bg' %}
                        {% set uploader = 'bgUploader' %}
                        {{ block('imageupload') }}
                    </form>
                    {% endimage %}
                </section>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="forbidden.html">
    {% set modal = content('Block', 'pc.errormodal.forbidden') %}
    <header>
        <h2>{{ modal.title }}</h2>
    </header>
    <article>
        {{ modal.text|markdown }}
    </article>
</script>
<script type="text/ng-template" id="uploadfailed.html">
    {% set modal = content('Block', 'pc.errormodal.uploadfailed') %}
    <header>
        <h2>{{ modal.title }} (Code: %code%)</h2>
    </header>
    <article>
        {{ modal.text|markdown }}
    </article>
    <footer>
        <button data-ng-click="$dismiss()">Close</button>
    </footer>
</script>
