{% trans_default_domain "charity" %}
<div id="configurator" data-ng-class="{fullscreen: fullscreen}" data-ng-style="configuratorStyle">
    <iframe data-ng-cloak src="%%iframeUrl%%" data-ng-init="iframeUrl='{{ path('dothiv_premiumconfig_preview', {'domain': app.request.get('domain'), 'locale': app.request.get('locale')}) }}'" data-ng-style="iframeStyle"></iframe>
    <div id="topnav">
        <div class="inner">
            <nav class="layouts">
                {% for position in ['top', 'bottom', 'left', 'right', 'topleft-micro', 'top-micro', 'topright-micro'] %}
                    <button data-ng-click="bannerPosition = '{{ position }}'">
                        <img src="/bundles/dothivpremiumconfigurator/images/position/{{ position }}.png" alt="{{ ('domain.position.' ~ position)|trans }}" data-ng-class="{active: bannerPosition == '{{ position }}'}">
                    </button>
                {% endfor %}
            </nav>
            <nav class="preview">
                <button data-ng-click="fullscreen = true" data-ng-show="!fullscreen">
                    {% trans %}pc.preview.fullscreen{% endtrans %}
                </button>
                <button data-ng-click="fullscreen = false" data-ng-show="fullscreen">
                    {% trans %}pc.preview.fullscreen.close{% endtrans %}
                </button>
                <button class="primary" data-ng-click="finish()">
                    {% trans %}pc.preview.finish{% endtrans %}
                </button>
            </nav>
        </div>
    </div>
    {% set settings = content('Block', 'pc.settings') %}
    <div id="settings" data-ng-hide="fullscreen">
        <header>
            <div class="inner">
                <nav>
                    {% for section in settings.children %}
                        <button data-ng-click="settings = '{{ section.code }}'" data-ng-class="{active: settings == '{{ section.code }}'}">
                            {{ section.title }}
                        </button>
                    {% endfor %}
                </nav>
            </div>
        </header>
        <div class="main">
            <div class="inner">
                {% for section in settings.children %}
                    <section data-ng-show="settings == '{{ section.code }}'">
                        {% include "DothivPremiumConfiguratorBundle:partials:configure/" ~ section.code ~ ".html.twig" %}
                    </section>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="forbidden.html">
    {% set modal = content('Block', 'pc.errormodal.forbidden') %}
    <header>
        <h2>{{ modal.title }}</h2>
    </header>
    <article>
        {{ modal.text|markdown }}
    </article>
</script>
<script type="text/ng-template" id="uploadfailed.html">
    {% set modal = content('Block', 'pc.errormodal.uploadfailed') %}
    <header>
        <h2>{{ modal.title }} (Code: %%code%%)</h2>
    </header>
    <article>
        {{ modal.text|markdown }}
    </article>
    <footer>
        <button data-ng-click="$dismiss()">Close</button>
    </footer>
</script>
<script type="text/ng-template" id="updatefailed.html">
    {% set modal = content('Block', 'pc.errormodal.updatefailed') %}
    <header>
        <h2>{{ modal.title }} (Code: %%code%%)</h2>
    </header>
    <article>
        {{ modal.text|markdown }}
    </article>
    <footer>
        <button data-ng-click="$dismiss()">Close</button>
    </footer>
</script>
<script type="text/ng-template" id="updatefailed.html">
    {% set modal = content('Block', 'pc.errormodal.updatefailed') %}
    <header>
        <h2>{{ modal.title }} (Code: %%code%%)</h2>
    </header>
    <article>
        {{ modal.text|markdown }}
    </article>
    <footer>
        <button data-ng-click="$dismiss()">Close</button>
    </footer>
</script>
<script type="text/ng-template" id="code.html">
    {% set modal = content('Block', 'pc.modal.install') %}
    {% set code_domain = modal.children[0] %}
    {% set code_forward = modal.children[1] %}
    <header>
        <h2>{{ modal.title }}</h2>
    </header>
    <article data-ng-hide="banner.redirect_url">
        {% set task = code_domain %}
        {% block install %}
            <section>
                {{ task.text|markdown }}
            </section>
            {% if task.textMore is defined %}
                <section>
                    {{ task.textMore|markdown }}
                </section>
            {% endif %}
            {% for taskChild in task.children %}
                {% if taskChild.image %}
                    <section class="image">
                        <img src="{{ taskChild.image.file.url }}" alt="{{ taskChild.image.title }}">
                    </section>
                {% endif %}
                <section>
                    <h4>{{ taskChild.title }}</h4>

                    {{ taskChild.text|markdown }}

                </section>
            {% endfor %}
        {% endblock install %}
    </article>
    <article data-ng-show="banner.redirect_url">
        {% set task = code_forward %}
        {{ block('install') }}
    </article>
    <footer>
        <button data-ng-click="$dismiss()">Abort</button>
        <a href="{{ path('dothiv_premiumconfig_page', {'domain': app.request.get('domain'), 'locale': app.request.get('locale')}) }}#!/subscription" class="primary" data-ng-click="$dismiss()">Next</a>
    </footer>
</script>
