{% trans_default_domain "charity" %}
<div id="configurator" data-ng-class="{fullscreen: fullscreen}">
    <div id="topnav">
        <nav class="layouts">
            <button data-ng-click="bannerPosition = 'center'">
                {% image '@DothivPremiumConfiguratorBundle/Resources/public/images/banner-position-center.png' %}
                <img src="{{ asset_url }}" alt="{% trans %}pc.preview.center{% endtrans %}" data-ng-show="bannerPosition == 'center'">
                {% endimage %}
                {% image '@DothivPremiumConfiguratorBundle/Resources/public/images/banner-position-center-off.png' %}
                <img src="{{ asset_url }}" alt="{% trans %}pc.preview.center{% endtrans %}" data-ng-show="bannerPosition != 'center'">
                {% endimage %}
            </button>
            <button data-ng-click="bannerPosition = 'top'">
                {% image '@DothivPremiumConfiguratorBundle/Resources/public/images/banner-position-top.png' %}
                <img src="{{ asset_url }}" alt="{% trans %}pc.preview.top{% endtrans %}" data-ng-show="bannerPosition == 'top'">
                {% endimage %}
                {% image '@DothivPremiumConfiguratorBundle/Resources/public/images/banner-position-top-off.png' %}
                <img src="{{ asset_url }}" alt="{% trans %}pc.preview.top{% endtrans %}" data-ng-show="bannerPosition != 'top'">
                {% endimage %}
            </button>
            <button data-ng-click="bannerPosition = 'right'">
                {% image '@DothivPremiumConfiguratorBundle/Resources/public/images/banner-position-right.png' %}
                <img src="{{ asset_url }}" alt="{% trans %}pc.preview.right{% endtrans %}" data-ng-show="bannerPosition == 'right'">
                {% endimage %}
                {% image '@DothivPremiumConfiguratorBundle/Resources/public/images/banner-position-right-off.png' %}
                <img src="{{ asset_url }}" alt="{% trans %}pc.preview.right{% endtrans %}" data-ng-show="bannerPosition != 'right'">
                {% endimage %}
            </button>
        </nav>
        <nav class="preview">
            <button data-ng-click="fullscreen = true" data-ng-show="!fullscreen">
                {% trans %}pc.preview.fullscreen{% endtrans %}
            </button>
            <button data-ng-click="fullscreen = false" data-ng-show="fullscreen">
                {% trans %}pc.preview.fullscreen.close{% endtrans %}
            </button>
            <button class="primary">
                {% trans %}pc.preview.finish{% endtrans %}
            </button>
        </nav>
    </div>
    <iframe src="%iframeUrl%" data-ng-init="iframeUrl='{{ path('dothiv_premiumconfig_preview', {'domain': app.request.get('domain'), 'locale': app.request.get('locale')}) }}'" data-ng-style="iframeStyle"></iframe>
    <div id="settings" data-ng-hide="fullscreen">
        <header>
            <div class="inner">
                <nav>
                    <button data-ng-click="settings = 'general'" data-ng-class="{active: settings == 'general'}">
                        {% trans %}pc.settings.general{% endtrans %}
                    </button>
                    <button data-ng-click="settings = 'images'" data-ng-class="{active: settings == 'images'}">
                        {% trans %}pc.settings.images{% endtrans %}
                    </button>
                    <button data-ng-click="settings = 'colors'" data-ng-class="{active: settings == 'colors'}">
                        {% trans %}pc.settings.colors{% endtrans %}
                    </button>
                    <button data-ng-click="settings = 'fonts'" data-ng-class="{active: settings == 'fonts'}">
                        {% trans %}pc.settings.fonts{% endtrans %}
                    </button>
                    <button data-ng-click="settings = 'style'" data-ng-class="{active: settings == 'style'}">
                        {% trans %}pc.settings.style{% endtrans %}
                    </button>
                    <button data-ng-click="settings = 'extras'" data-ng-class="{active: settings == 'extras'}">
                        {% trans %}pc.settings.extras{% endtrans %}
                    </button>
                </nav>
            </div>
        </header>
        <div class="main">
            <div class="inner">
                <section data-ng-show="settings == 'general'">
                    <form role="form" novalidate name="bannerForm">
                        <fieldset>
                            <div class="form-group">
                                <label for="redirect_url">{% trans %}
                                    pc.settings.general.redirecturl{% endtrans %}</label>
                                <input type="url" id="redirect_url" data-ng-model="banner.redirect_url" data-ng-blur="updateBannerSettings()">
                            </div>
                        </fieldset>
                    </form>
                </section>
                <section data-ng-show="settings == 'images'">
                    {% image '@DothivPremiumConfiguratorBundle/Resources/public/images/empty-image.svg' %}

                    <form role="form" novalidate name="imagesForm">
                        <fieldset class="imageupload">
                            <label for="keyvisual">
                                <img src="{{ asset_url }}" alt="Kein Keyvisual hinterlegt" data-ng-hide="premiumBanner.visual">
                                <img data-ng-src="%premiumBanner.visual%" alt="Keyvisual" data-ng-show="premiumBanner.visual">
                                Keyvisual<br>
                                <small>Ihr Logo oder ein Icon</small>
                                <div class="progress" data-ng-repeat="item in visualUploader.queue" data-ng-show="visualUploader.isUploading">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="%item.progress%" aria-valuemin="0" aria-valuemax="100" data-ng-style="{ 'width': item.progress + '%' }">
                                        <span class="sr-only">%item.progress%% Complete</span>
                                    </div>
                                </div>
                            </label>
                            <nav>
                                <label for="keyvisual" data-ng-hide="visualUploader.isUploading">ändern</label>
                                <button type="reset" data-ng-show="premiumBanner.visual" data-ng-click="premiumBanner.visual = null">löschen</button>
                            </nav>
                            <input type="file" id="keyvisual" data-nv-file-select data-uploader="visualUploader">
                        </fieldset>
                        <fieldset class="imageupload">
                            <label for="background">
                                <img src="{{ asset_url }}" alt="Keine Hintergrundgrafik hinterlegt" data-ng-hide="premiumBanner.bg">
                                <img data-ng-src="%premiumBanner.bg%" alt="Hintergrundgrafik" data-ng-show="premiumBanner.bg">
                                Hintergrund
                                <div class="progress" data-ng-repeat="item in bgUploader.queue" data-ng-show="bgUploader.isUploading">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="%item.progress%" aria-valuemin="0" aria-valuemax="100" data-ng-style="{ 'width': item.progress + '%' }">
                                        <span class="sr-only">%item.progress%% Complete</span>
                                    </div>
                                </div>
                            </label>
                            <nav>
                                <label for="background" data-ng-hide="bgUploader.isUploading">ändern</label>
                                <button type="reset" data-ng-show="premiumBanner.bg" data-ng-click="premiumBanner.bg = null">löschen</button>
                            </nav>
                            <input type="file" id="background" data-nv-file-select data-uploader="bgUploader">
                        </fieldset>
                    </form>
                    {% endimage %}
                </section>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="forbidden.html">
    {% set modal = content('Block', 'pc.errormodal.forbidden') %}
    <header>
        <h2>{{ modal.title }}</h2>
    </header>
    <article>
        {{ modal.text|markdown }}
    </article>
</script>
<script type="text/ng-template" id="uploadfailed.html">
    {% set modal = content('Block', 'pc.errormodal.uploadfailed') %}
    <header>
        <h2>{{ modal.title }} (Code: %code%)</h2>
    </header>
    <article>
        {{ modal.text|markdown }}
    </article>
    <footer>
        <button data-ng-click="$dismiss()">Close</button>
    </footer>
</script>
