<div ng-cloak ng-controller="PartnerController" ng-show="visible" class="partners">
    <div class="row-fluid partner-container" ng-repeat="partner in partners">
        <div class="span3">
            <a href="{% verbatim %}{{ partner.url }}{% endverbatim %}" rel="friend">
                <img ng-src="{% verbatim %}{{ partner.logo.file.url }}{% endverbatim %}" ng-show="partner.logo" class="logo">
            </a>
        </div>
        <div class="span8 offset1">
            <h{{ level }} ng-bind="partner.organization"></h{{ level }}>
            <div ng-bind-html-unsafe="partner.description"></div>
            <a href="{% verbatim %}{{ partner.url }}{% endverbatim %}" rel="friend" ng-bind="partner.url"></a>
        </div>
    </div>
</div>
