{% use "DothivCharityWebsiteBundle:partials:blocks.html.twig" %}

{% set quotes = content('Quote') %}

<div class="quotes">
    <div class="row-fluid">
        {% set width = 10 %}
        {{ block('cf_contentBlock') }}
    </div>
    {% for q in quotes %}
        {% if loop.first %}
            <div class="row-fluid quote-container">
        {% endif %}
        {% if loop.index0 % 2 == 0 %}
            </div>
            <div class="row-fluid quote-container">
        {% endif %}
        <div class="span6">
            <article>
                <blockquote class="{% if q.photo is defined %}photo{% endif %}">
                    {% if q.photo is defined %}
                    <img src="{{ q.photo.file.url }}">
                    {% endif %}

                    <div ng-class="{medium: q.quote.length > 100 && q.quote.length < 200, long: q.quote.length >= 200}">{{ q.quote|markdown }}</div>
                </blockquote>
                <footer>
                    <cite>{{ q.person }}</cite>

                    <p>{{ q.description|markdown }}</p>
                </footer>
            </article>
        </div>
        {% if loop.last %}
            </div>
        {% endif %}
    {% endfor %}
</div>
