{% use "DothivCharityWebsiteBundle:partials:blocks.html.twig" %}

{# Supporter without text #}
{% set nitem = 0 %}
{% for child in block.children %}
    {% if loop.first %}
        <div class="row-fluid cf-supporter">
    {% endif %}
    {% if child.text is not defined %}
        <div class="span4 offset1">
            <div class="logo">
                {% if child.image is defined %}
                    {% set image_asset = child.image %}
                    {% set thumbnail_size = 'supporter' %}
                    {% set image_link = child.imageLink|default(false) %}
                    {{ block('cf_imageBlock') }}
                {% else %}
                    <p>
                        {{ child.title|default("") }}
                    </p>
                {% endif %}
            </div>
        </div>
        {% set nitem = nitem + 1 %}
    {% endif %}
    {% if loop.last %}
        </div>
    {% endif %}
{% endfor %}
{# Supporter with text #}
{% for child in block.children %}
    {% if child.text is defined %}
        <div class="row-fluid cf-supporter-text">
            <div class="span3 logo">
                {% if child.image is defined %}
                    {% set image_asset = child.image %}
                    {% set thumbnail_size = 'supporter' %}
                    {% set image_link = child.imageLink|default(false) %}
                    {{ block('cf_imageBlock') }}
                {% endif %}
            </div>
            <div class="span9 text">
                <p>
                    {{ child.title|default("") }}
                </p>
                {{ child.text|markdown }}
            </div>
        </div>
    {% endif %}
{% endfor %}
