<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <title>dotHIV</title>
        {% stylesheets 'bundles/website/bootstrap-custom/custom-bootstrap.less' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
        
        <div ng-view></div>
        
        <!-- In production use:
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
        -->
        <script src="{{ asset('bundles/website/app/lib/angular/angular.js') }}"></script>
        <script src="{{ asset('bundles/website/app/lib/http-auth-interceptor.js') }}"></script>
        <script src="{{ asset('bundles/website/app/lib/ui-bootstrap-tpls-0.3.0.min.js') }}"></script>
        <script src="{{ asset('bundles/website/app/js/app.js') }}"></script>
        <script src="{{ asset('bundles/website/app/js/services.js') }}"></script>
        <script src="{{ asset('bundles/website/app/js/controllers.js') }}"></script>
        <script src="{{ asset('bundles/website/app/js/filters.js') }}"></script>
        <script src="{{ asset('bundles/website/app/js/directives.js') }}"></script>
    </body>
</html>
