{% trans_default_domain "registry" %}
<!DOCTYPE html>
<!--


            _|_|          _|_|
            _|_|          _|_|
            _|_|
            _|_|
            _|_|_|_|      _|_|  _|_|    _|_|
            _|_|_|_|_|    _|_|  _|_|    _|_|
            _|_|    _|_|  _|_|  _|_|    _|_|
            _|_|    _|_|  _|_|  _|_|    _|_|
            _|_|    _|_|  _|_|  _|_|    _|_|
      _|_|  _|_|    _|_|  _|_|    _|_|_|_|
      _|_|  _|_|    _|_|  _|_|      _|_|

 .hiv domains – The Red Ribbon of the digital age

                    dotHIV.org

-->
<html lang="{{ locale }}">
<head>
    <title>
        {% if title|default("")|length > 0 %}{{ title }} |{% endif %}
        {% trans %}registry.fullname{% endtrans %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% stylesheets '@DothivRegistryWebsiteBundle/Resources/lesscss/2/styles.less' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link rel="shortcut icon" href="{{ asset("bundles/dothivregistrywebsite/images/favicon.png") }}"/>
    <!-- <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600' rel='stylesheet' type='text/css'> -->
</head>
<body>
<div class="outer">
    <header class="page">
        <section class="logo">
            <a href="/" rel="index">
                <h1>
                    <img src="{{ asset("bundles/dothivregistrywebsite/images/logo-registry.svg") }}"
                         alt="{% trans %}gmbh.fullname{% endtrans %}">
                    <small>
                        {% trans %}gmbh.header.title.line01{% endtrans %}<br>
                        {% trans %}gmbh.header.title.line02{% endtrans %}
                    </small>
                </h1>
            </a>
            <nav>
                <a href="{{ path('dothiv_charity_index', {'locale': locale}) }}" rel="friend met"
                   class="external">{% trans %}
                    gmbh.header.back{% endtrans %}</a>
                {% if app.request.locale|slice(0,2) != 'en' %}
                    <a href="{{ link.en }}">English</a>
                {% endif %}
                {% if app.request.locale|slice(0,2) != 'de' %}
                    <a href="{{ link.de }}">Deutsch</a>
                {% endif %}
            </nav>
        </section>
    </header>
</div>
<div class="outer-texture">
    <nav class="main">
        <section>
            <h2>Headline</h2>
            <a href="#">Link</a>
            <a href="#">Link</a>
            <a href="#">Link</a>
            <a href="#">Link</a>
            <a href="#">Link</a>
        </section>
        <section>
            <h2>Headline</h2>
            <a href="#">Link</a>
            <a href="#">Link</a>
            <a href="#">Link</a>
            <a href="#">Link</a>
            <a href="#">Link</a>
        </section>
        <section>
            <h2>Headline</h2>
            <a href="#">Link</a>
            <a href="#">Link</a>
            <a href="#">Link</a>
            <a href="#">Link</a>
            <a href="#">Link</a>
        </section>
    </nav>
</div>
<div class="outer">
    <main>
        {% block content %}{% endblock content %}
    </main>
</div>
<div class="outer-grey">
    <footer class="page">
        <article>
            <header>
                <h2>
                    <img class="logo" src="{{ asset("bundles/dothivregistrywebsite/images/logo-registry.svg") }}"
                         alt="{% trans %}gmbh.logo.alt{% endtrans %}">
                    <small>{% trans %}gmbh.footer.slogan{% endtrans %}</small>
                </h2>
            </header>
            <section>
                <p>
                    {% trans %}gmbh.footer.name{% endtrans %}<br>
                    {% trans %}gmbh.footer.street{% endtrans %}<br>
                    {% trans %}gmbh.footer.city{% endtrans %}<br>
                    <a href="tel:{% trans %}gmbh.footer.phone{% endtrans %}">{% trans %}
                        gmbh.footer.phone{% endtrans %}</a>
                </p>
            </section>
            <footer>
                <nav>
                    <a href="{{ path('dothiv_registry_page', {'locale': locale, 'page':  'contact'}) }}">{% trans %}
                        gmbh.footer.navi.contact{% endtrans %}</a>
                    <a href="{{ path('dothiv_registry_page', {'locale': locale, 'page':  'imprint'}) }}">{% trans %}
                        gmbh.footer.navi.imprint{% endtrans %}</a>
                </nav>
            </footer>
        </article>

    </footer>
</div>
</body>
</html>
