{% trans_default_domain "registry" %}
<!DOCTYPE html>
<!--


            _|_|          _|_|
            _|_|          _|_|
            _|_|
            _|_|
            _|_|_|_|      _|_|  _|_|    _|_|
            _|_|_|_|_|    _|_|  _|_|    _|_|
            _|_|    _|_|  _|_|  _|_|    _|_|
            _|_|    _|_|  _|_|  _|_|    _|_|
            _|_|    _|_|  _|_|  _|_|    _|_|
      _|_|  _|_|    _|_|  _|_|    _|_|_|_|
      _|_|  _|_|    _|_|  _|_|      _|_|

 .hiv domains – The Red Ribbon of the digital age

                    dotHIV.org

-->
<html lang="{{ locale }}">
<head>
    <title>
        {% if title|default("")|length > 0 %}{{ title }} |{% endif %}
        {% trans %}registry.fullname{% endtrans %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% stylesheets '@DothivRegistryWebsiteBundle/Resources/lesscss/3/styles.less' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link rel="shortcut icon" href="{{ asset("bundles/dothivregistrywebsite/images/favicon.png") }}"/>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600' rel='stylesheet' type='text/css'>
    {% javascripts
        '@DothivAngularJsBundle/Resources/angular/angular.js'
        filter='?ngmin,?closureecma5'
        output='js/*.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>
<body ng-app="dotHIVApp">
<div class="outer">
    <header class="page">
        <section class="logo">
            <a href="/" rel="index">
                <h1>
                    {% image '@DothivRegistryWebsiteBundle/Resources/public/images/dothiv-registry-logo.svg' %}
                    <img src="{{ asset_url }}" alt="{% trans %}gmbh.fullname{% endtrans %}">
                    {% endimage %}
                    <small>
                        {{ 'gmbh.header.title'|trans|replace({'|': "\n"})|nl2br }}
                    </small>
                </h1>
            </a>
            <nav>
                <a href="{{ path('dothiv_charity_index', {'locale': locale}) }}" rel="friend met"
                   class="external">{% trans %}
                    gmbh.header.back{% endtrans %}</a>
                {% if app.request.locale|slice(0,2) != 'en' %}
                    <a href="{{ link.en }}">English</a>
                {% endif %}
                {% if app.request.locale|slice(0,2) != 'de' %}
                    <a href="{{ link.de }}">Deutsch</a>
                {% endif %}
            </nav>
        </section>
    </header>
</div>
{% for section in registry_content('Collection', 'nav.main')|default({'items': []}).items %}
    {% if loop.first %}
        <div class="outer-texture">
        <nav class="main sections{{ loop.length }}">
    {% endif %}
    <section>
        {% for item in section.items %}
            {% if item.cfMeta.contentType == "String" %}
                <h2>{{ item.value }}</h2>
            {% elseif item.cfMeta.contentType == "Page" %}
                <a href="{{ path('dothiv_registry_content', {'locale': locale, 'page': item.code|replace('.', '/')}) }}">{{ item.title }}</a>
            {% endif %}
        {% endfor %}
    </section>
    {% if loop.last %}
        </nav>
        </div>
    {% endif %}
{% endfor %}
<div class="outer">
    <main>
        {% block content %}{% endblock content %}
    </main>
</div>
<div class="outer-grey">
    <footer class="page">
        <article>
            <header>
                <h2>
                    {% image '@DothivRegistryWebsiteBundle/Resources/public/images/dothiv-registry-logo.svg' %}
                    <img class="logo" src="{{ asset_url }}" alt="{% trans %}gmbh.logo.alt{% endtrans %}">
                    {% endimage %}
                    <small>{% trans %}gmbh.footer.slogan{% endtrans %}</small>
                </h2>
            </header>
            <section>
                {% set tld = registry_content('Block', 'footer.tldHIV') %}
                <p>
                    {{ tld.title }}<br>
                    {{ tld.text|markdown }}
                </p>
            </section>
            <footer>
            {% for page in registry_content('Collection', 'nav.footer').items %}
                {% if loop.first %}
                <nav>
                {% endif %}
                    <a href="{{ path('dothiv_registry_content', {'locale': locale, 'page': page.code|replace('.', '/')}) }}">{{ page.title }}</a>
                {% if loop.last %}
                </nav>
                {% endif %}
            {% endfor %}
            </footer>
        </article>

    </footer>
</div>
{% javascripts
    '@DothivRegistryWebsiteBundle/Resources/public/1.2/app.js'
    '@DothivRegistryWebsiteBundle/Resources/public/1.2/controllers/*.js'
    filter='?ngmin,?closureecma5'
    output='js/*.min.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
</html>
