{% trans_default_domain "charity" %}
<form role="form" novalidate name="{{ code }}Form">
    {% for field in section.children %}
        {% set fieldCode = field.code|replace({"lc.settings.text.": ""}) %}
        <fieldset>
            <div class="fields-legend">
                {{ field.text|default()|markdown }}
            </div>
            <div class="fields">
                <div class="form-group">
                    <label for="{{ fieldCode }}">
                        {{ field.title }}
                    </label>
                    <input type="text" id="{{ fieldCode }}" name="{{ fieldCode }}" data-ng-model="config.{{ fieldCode }}" data-ng-blur="updateConfigSettings()">
                </div>
            </div>
        </fieldset>
    {% endfor %}
</form>
