{% trans_default_domain "registry" %}
<div class="registrar-list-module" data-ng-controller="RegistrarsListController" data-ng-cloak>

    {% set highlight_title = "Preferred<br>Deal" %}
    {% set highlight_class = "preferred" %}
    {% set highlight_filter = "isPreferredDeal" %}
    {% block highlight %}
    <div class="{{ highlight_class }}-deal" data-ng-repeat="r in registrars | filter:{{ '{' ~ highlight_filter ~ ':true}' }}">
        <div class="ribbon">
            <h3>{{ highlight_title|raw }}</h3>
        </div>
        <div class="logo">
            <a data-ng-href="{% verbatim %}{{ r.url }}{% endverbatim %}">
                <img alt="{% verbatim %}{{ r.name }}{% endverbatim %}" data-ng-src="{% verbatim %}{{ r.image.file.thumbnails.small }}{% endverbatim %}">
            </a>
        </div>

        <div class="info">
            <a data-ng-href="{% verbatim %}{{ r.url }}{% endverbatim %}" data-ng-bind="r.name" class="name"></a><br>
            <p data-ng-bind-html="r.preferredDeal"></p>
        </div>

        <div class="buy">
            <div class="price">
                <span data-ng-bind="r.priceUSDLabel" data-ng-show="currency == 'USD'"></span>
                <span data-ng-bind="r.priceEURLabel" data-ng-show="currency == 'EUR'"></span>
            </div>
            <a class="button" data-ng-href="{% verbatim %}{{ r.url }}{% endverbatim %}">{% trans %}
                module.registrar-list.register{% endtrans %}</a>
        </div>
    </div>
    {% endblock highlight %}
    {% set highlight_title = "Price<br>Leader" %}
    {% set highlight_class= "priceleader" %}
    {% set highlight_filter = "isPriceLeader" %}
    {{ block('highlight') }}

    <table>
        <thead>
        <tr>
            <th class="name">
                <a data-ng-click="flipPredicate('name')" class="sort">
                    {% trans %}module.registrar-list.heading.name{% endtrans %}
                    <span class="order-icons">
                        <i class="order-down" data-ng-class="{active: predicate == '+name'}"></i>
                        <i class="order-up" data-ng-class="{active: predicate == '-name'}"></i>
                    </span>
                </a><br>
                <a data-ng-click="flipPredicate('promotion')" class="sort promotion">
                    {% trans %}module.registrar-list.heading.promotion{% endtrans %}
                    <span class="order-icons">
                        <i class="order-down" data-ng-class="{active: predicate == '+promotion'}"></i>
                        <i class="order-up" data-ng-class="{active: predicate == '-promotion'}"></i>
                    </span>
                </a>
            </th>
            <th class="price">
                <a data-ng-click="flipPredicate('price' + currency)" class="sort">
                    {% trans %}module.registrar-list.heading.price{% endtrans %}
                    <span class="order-icons">
                        <i class="order-down" data-ng-class="{active: predicate == '+price' + currency}"></i>
                        <i class="order-up" data-ng-class="{active: predicate == '-price' + currency}"></i>
                    </span>
                </a>
            </th>
            <th class="button">
                <select data-ng-model="currency" name="currency" data-ng-change="predicate = '+price' + currency;">
                    <option value="USD">$</option>
                    <option value="EUR">€</option>
                </select>
            </th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="3">
                <small>{% trans %}module.registrar-list.footer.conversion{% endtrans %}</small>
            </td>
        </tr>
        </tfoot>
        <tbody>
        <tr data-ng-repeat="r in registrars | filter:{privateRegistrar:false} | orderBy:predicate ">
            <td>
                <a data-ng-href="{% verbatim %}{{ r.url }}{% endverbatim %}">
                    <img
                            alt="{% verbatim %}{{ r.name }}{% endverbatim %}"
                            data-ng-src="{% verbatim %}{{ r.image.file.thumbnails.supporter }}{% endverbatim %}" class="logo">
                </a>
                <a data-ng-href="{% verbatim %}{{ r.url }}{% endverbatim %}" data-ng-bind="r.name" class="name"></a>
                <p class="promotion" data-ng-bind-html="r.promotion"></p>
            </td>
            <td class="price">
                <span data-ng-bind="r.priceUSDLabel" data-ng-show="currency == 'USD'"></span>
                <span data-ng-bind="r.priceEURLabel" data-ng-show="currency == 'EUR'"></span>
            </td>
            <td class="button">
                <a class="button" data-ng-href="{% verbatim %}{{ r.url }}{% endverbatim %}">{% trans %}module.registrar-list.register{% endtrans %}</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
