{% trans_default_domain "charity" %}
<!DOCTYPE html>
<!--


            _|_|          _|_|
            _|_|          _|_|
            _|_|
            _|_|
            _|_|_|_|      _|_|  _|_|    _|_|
            _|_|_|_|_|    _|_|  _|_|    _|_|
            _|_|    _|_|  _|_|  _|_|    _|_|
            _|_|    _|_|  _|_|  _|_|    _|_|
            _|_|    _|_|  _|_|  _|_|    _|_|
      _|_|  _|_|    _|_|  _|_|    _|_|_|_|
      _|_|  _|_|    _|_|  _|_|      _|_|

 .hiv domains – The Red Ribbon of the digital age

                  click4life.hiv

-->
<html lang="{{ locale }}">
<head>
    <title>
        {{ page.title }}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% stylesheets
    'bundles/dothivpremiumconfigurator/lesscss/styles.less'
    '@angular_colorpicker_css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="/assetic{{ asset_url }}">
    {% endstylesheets %}
    {% image '@DothivCharityWebsiteBundle/Resources/public/images/favicon.png' %}
    <link rel="shortcut icon" href="/assetic{{ asset_url }}">
    {% endimage %}
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,600' rel='stylesheet' type='text/css'>
    {% javascripts
    '@angular_js'
    filter='?ngmin,?closureecma5'
    output='js/*.min.js' %}
    <script type="text/javascript" src="/assetic{{ asset_url }}"></script>
    {% endjavascripts %}
    <base href="/">
</head>
<body data-ng-app="dotHIVApp">
<header data-ng-controller="HeaderController">
    <article>
        <section>
            <h1 data-ng-cloak>
                {% image '@DothivPremiumConfiguratorBundle/Resources/public/images/dothiv-logo.png' %}
                <img src="/assetic{{ asset_url }}" alt="{{ page.title }}">
                {% endimage %}
                {% trans %}pc.title{% endtrans %}<br>
                <small>{% trans %}pc.subtitle{% endtrans %}</small>
            </h1>
            <div id="loading" data-ng-show="loading">
                {% trans %}pc.loading{% endtrans %}
                {% image '@DothivPremiumConfiguratorBundle/Resources/public/images/loader.gif' %}
                <img src="/assetic{{ asset_url }}" alt="{% trans %}pc.loading{% endtrans %}">
                {% endimage %}
            </div>
        </section>
    </article>
</header>
<main data-ui-view></main>
{% block angular_app %}
    {% javascripts
    '@angular_js_resource'
    '@angular_js_route'
    '@angular_js_cookies'
    '@angular_ui_router'
    '@angular_ui_bootstrap_tpls'
    '@angular_file_upload'
    '@angular_colorpicker_js'
    '@DothivPremiumConfiguratorBundle/Resources/public/js/app.js'
    '@DothivBaseWebsiteBundle/Resources/public/1.2/services/*.js'
    '@DothivBaseWebsiteBundle/Resources/public/1.2/services/models/*.js'
    '@DothivPremiumConfiguratorBundle/Resources/public/js/services/*.js'
    '@DothivPremiumConfiguratorBundle/Resources/public/js/services/models/*.js'
    '@DothivPremiumConfiguratorBundle/Resources/public/js/controllers/*.js'
    filter='?ngmin,?closureecma5'
    output='js/*.min.js' %}
    <script type="text/javascript" src="/assetic{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock angular_app %}
<script type="text/javascript">
    'use strict';
    angular.module('dotHIVApp.services').factory('config', function () {
        var config = {
            locale: '{{ locale }}',
            domain: '{{ app.request.get('domain') }}',
            clickCounterPreviewDomainNonSSL: '{{ click_counter_preview_domain_non_ssl }}',
            stripe: {
                publishableKey: '{{ stripe_publishable_key }}',
                {% image '@DothivPremiumConfiguratorBundle/Resources/public/images/stripe-logo.png' %}
                logo: '/assetic{{ asset_url }}',
                {% endimage %}
                testMode: {{ stripe_testmode }}
            },
            strings: {
                pc: {
                    stripe: {
                        checkout: {
                            name: '{{ 'pc.stripe.checkout.name'|trans }}',
                            description: '{{ 'pc.stripe.checkout.description'|trans({'%%domain%%': app.request.get('domain')}) }}',
                            button: '{{ 'pc.stripe.checkout.button'|trans }}'
                        }
                    }
                }
            },
            {% set cycle_format = 'M. jS Y' %}
            {% if locale == 'de' %}
            {% set cycle_format = 'd.m.Y' %}
            {% endif %}
            cycle_start: '{{ 'now'|date(cycle_format) }}',
            cycle_end: '{{ '+1 month'|date_modify("-1 day")|date(cycle_format) }}',
            price: {
                net: {{ premium_price }},
                vat: {{ (premium_price * devat / 100)|round }},
                total: {{ premium_price + (premium_price * devat / 100)|round }}
            },
            vat: {
                de: {{ devat }}
            }
        };
        return config;
    });
</script>
<script src="https://checkout.stripe.com/checkout.js"></script>
</body>
</html>
