{% trans_default_domain "charity" %}
<!DOCTYPE html>
<!--


            _|_|          _|_|
            _|_|          _|_|
            _|_|
            _|_|
            _|_|_|_|      _|_|  _|_|    _|_|
            _|_|_|_|_|    _|_|  _|_|    _|_|
            _|_|    _|_|  _|_|  _|_|    _|_|
            _|_|    _|_|  _|_|  _|_|    _|_|
            _|_|    _|_|  _|_|  _|_|    _|_|
      _|_|  _|_|    _|_|  _|_|    _|_|_|_|
      _|_|  _|_|    _|_|  _|_|      _|_|

 .hiv domains – The Red Ribbon of the digital age

                    dotHIV.org

-->
<html lang="{{ locale }}">
<head>
    <title>
        {{ page.title }}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% stylesheets '@DothivPremiumConfiguratorBundle/Resources/lesscss/styles.less' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    {% image '@DothivCharityWebsiteBundle/Resources/public/images/favicon.png' %}
    <link rel="shortcut icon" href="{{ asset_url }}">
    {% endimage %}
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,600' rel='stylesheet' type='text/css'>
    {% javascripts
    '@DothivAngularJsBundle/Resources/angular/angular.js'
    filter='?ngmin,?closureecma5'
    output='js/*.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>
<body data-ng-app="dotHIVApp">
<header>
    <article>
        <section>
            <h1>
                {% image '@DothivPremiumConfiguratorBundle/Resources/public/images/dothiv-logo.png' %}
                <img src="{{ asset_url }}" alt="{{ page.title }}">
                {% endimage %}
                {{ page.title }}
            </h1>
        </section>
    </article>
</header>
<main>
    <article>
        <section>
            <div>

            </div>
        </section>
    </article>
</main>
<footer>
</footer>
{% block angular_app %}
    {% javascripts
    '@DothivPremiumConfiguratorBundle/Resources/public/js/app.js'
    filter='?ngmin,?closureecma5'
    output='js/*.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock angular_app %}
<script type="text/javascript">
    'use strict';
    angular.module('dotHIVApp.services').factory('config', function () {
        var config = {
            locale: '{{ locale }}'
        };
        return config;
    });
</script>
</body>
</html>
