<script type="text/ng-template" id="/template/shop/{{ code }}.html">
    <section class="{{ code }}">
        <div class="block">
            <h2>{{ block.title }}</h2>
            {{ block.text|default("")|markdown }}
        </div>
    </section>
    <form method="post" action="" novalidate name="{{ code }}Form" class="{{ code }}">
        {% for child in block.children %}
            <fieldset>
                <legend>{{ child.title }}</legend>
                <div class="intro">
                    {{ child.text|default("")|markdown }}
                </div>
                {% if child.code ends with "engagement" %}
                    <div class="field">
                        {% for option in child.children %}
                            <label>
                                <input type="radio" name="clickcounter" value="{% if loop.first %}1{% else %}0{% endif %}" data-ng-model="order.clickcounter" required>
                                {{ option.title }}
                            </label>
                            {{ option.text|default("")|markdown }}
                        {% endfor %}
                    </div>
                    <div class="valid"></div>
                {% elseif child.code ends with "redirect" %}
                    <div class="field">
                        <label for="redirect">
                            {{ child.strings[0].value|markdown|striptags('<a><em><strong><code>')|raw }}
                        </label>

                        <div class="input">
                            <input type="url" name="redirect" id="redirect" data-ng-model="order.redirect" required data-ng-trim="true">
                            <i class="valid" data-ng-show="!configureForm.redirect.$pristine && configureForm.redirect.$valid"></i>
                            <i class="invalid" data-ng-show="!configureForm.redirect.$pristine && !configureForm.redirect.$valid"></i>
                            <i class="required" data-ng-show="configureForm.$pristine"></i>
                        </div>
                    </div>
                {% endif %}
            </fieldset>
        {% endfor %}

        {% for button in block.strings|default([]) %}
            {% if loop.first %}<nav>{% endif %}
            <button class="{% if loop.first %}primary{% endif %}" data-ng-disabled="configureForm.$invalid" data-ng-click="submit()">
                {{ button.value }}
            </button>
            {% if loop.last %}</nav>{% endif %}
        {% endfor %}
    </form>
</script>
