{# Based on https://www.iana.org/domains/idn-tables/tables/berlin_latn_1.txt #}
{% set allowed_chars_no_dash = "0-9a-z\\u00DF\\u00E0-\\u00FF\\u0101\\u0103\\u0105\\u0107\\u0109\\u010B\\u010D\\u010F\\u0111\\u0113\\u0115\\u0117\\u0119\\u011B\\u011D\\u011F\\u0121\\u0123\\u0125\\u0127\\u0129\\u012B\\u012D\\u012F\\u0131\\u0135\\u0137\\u0138\\u013A\\u013C\\u013E\\u0142\\u0144\\u0146\\u0148\\u014B\\u014D\\u014F\\u0151\\u0153\\u0155\\u0157\\u0159\\u015B\\u015D\\u015F\\u0161\\u0163\\u0165\\u0167\\u0169\\u016B\\u016D\\u016F\\u0171\\u0173\\u0175\\u0177\\u017A\\u017C\\u017E" %}
<div class="lookupDomain">
    <fieldset>
        <div class="lookup">
            <input type="text" name="secondLevelName" id="secondLevelName" required data-ng-pattern="/^[{{ allowed_chars_no_dash }}][-{{ allowed_chars_no_dash }}]{1,61}[{{ allowed_chars_no_dash }}]$/" data-ng-model="secondLevelName" data-ng-change="lookup = ''">
            <span>.hiv</span>
        </div>
    </fieldset>

    {% for button in block.strings|default([]) %}
        {% if loop.first %}<nav>{% endif %}
        <button class="{% if loop.first %}primary{% endif %}" data-ng-disabled="lookupForm.$invalid" data-ng-click="lookupDomain()">
            {{ button.value }}
        </button>
        {% if loop.last %}</nav>{% endif %}
    {% endfor %}
</div>

{% for child in block.children %}
    {% set class = child.code|replace({"shop.lookup.": ""}) %}
    <div data-ng-show="lookup == '{{ class }}'" class="lookupResult {{ class }}">
        <div class="text">
            <h3>{{ child.title|markdown }}</h3>
            {{ child.text|default("")|markdown }}
        </div>
        {% if child.code ends with "registered" %}
            <table>
                <tbody>
                <tr data-ng-repeat="alternative in alternatives">
                    <td><span data-ng-bind="alternative"></span>.hiv</td>
                    <td>
                        <button data-ng-click="$parent.secondLevelName = alternative; $parent.step = 'configure';">{{ child.strings[0].value }}</button>
                    </td>
                </tr>
                </tbody>
            </table>
        {% elseif child.code ends with "premium" %}
            {% for button in child.strings|default([]) %}
                {% if loop.first %}<nav>{% endif %}
                <a target="_blank" data-ng-href="mailto:support@tld.hiv?subject=I+want+to+register+%%domain%%">
                    {{ button.value }}
                </a>
                {% if loop.last %}</nav>{% endif %}
            {% endfor %}
        {% else %}{# if child.code ends with "available" #}
            {% for button in child.strings|default([]) %}
                {% if loop.first %}<nav>{% endif %}
                <button class="{% if loop.first %}primary{% endif %}" data-ng-click="step = '{{ button.code|replace({"button.shop.": ""}) }}';">
                    {{ button.value }}
                </button>
                {% if loop.last %}</nav>{% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endfor %}
