{# See https://github.com/dothiv/idn-table #}
{% set allowed_chars_no_dash = "0-9a-z\\u00E1\\u00E4\\u00E5\\u00E6\\u00E9\\u00ED\\u00F0\\u00F1\\u00F3\\u00F6\\u00F8\\u00FA\\u00FC\\u00FD\\u00FE\\u0101\\u0105\\u0107\\u010D\\u0113\\u0117\\u0119\\u0123\\u012B\\u012F\\u0137\\u013C\\u0142\\u0144\\u0146\\u014D\\u0151\\u0157\\u015B\\u0161\\u016B\\u0171\\u0173\\u017A\\u017C\\u017E" %}

<script type="text/ng-template" id="/template/shop/{{ code }}.html">
    <section class="{{ code }}" data-ng-init="showLookupForm = true">
        <div class="block">
            <h2>{{ block.title }}</h2>
            {{ block.text|default("")|markdown }}
        </div>
    </section>
    {% block lookupForm %}
        <form method="post" action="" novalidate name="{{ code }}Form" class="{{ code }}" data-ng-show="showLookupForm && lookup != 'available'">
            <fieldset class="lookupDomain">
                <div class="field hivdomain">
                    <div class="border">
                        <input type="text" name="secondLevelName" id="secondLevelName" required data-ng-pattern="/^[{{ allowed_chars_no_dash }}][-{{ allowed_chars_no_dash }}]{1,61}[{{ allowed_chars_no_dash }}]$/i" data-ng-model="secondLevelName" data-ng-trim="true">
                        <span>.hiv</span>
                    </div>
                </div>
                {% for button in block.strings|default([]) %}
                    {% if loop.first %}<nav>{% endif %}
                    <button class="{% if loop.first %}primary{% endif %}" data-ng-disabled="lookupForm.$invalid" data-ng-click="lookupDomain(secondLevelName + '.hiv')">
                        {{ button.value }}
                    </button>
                    {% if loop.last %}</nav>{% endif %}
                {% endfor %}
            </fieldset>
        </form>
    {% endblock %}
    {% for block in block.children|default([]) %}
        {% if "shop.lookup.extra." in block.code %}
            {% set extraCode = block.code|replace({"shop.lookup.extra.": ""}) %}
            <section class="{{ code }}-{{ extraCode }}">
                <div class="block">
                    {% if block.title is defined %}
                        <h3>{{ block.title }}</h3>
                    {% endif %}
                    {{ block.text|default("")|markdown }}
                </div>
            </section>
        {% endif %}
    {% endfor %}
</script>

<script type="text/ng-template" id="/template/shop/{{ code }}-result.html">
    <section class="{{ code }}" data-ng-init="showLookupForm = false">
        <div class="block">
            <h2>{{ block.title }}</h2>
            {{ block.text|default("")|markdown }}
        </div>
        {{ block('lookupForm') }}
        {% for child in block.children %}
            {% set class = child.code|replace({"shop.lookup.": ""}) %}
            <div data-ng-show="lookup == '{{ class }}'" class="lookupResult {{ class }}">
                <div class="text links-external">
                    <h3>
                        {% if child.code ends with "available" %}
                            {% image '@DothivShopBundle/Resources/public/images/grey-tick.svg' %}
                            <img src="{{ asset(asset_url) }}" alt="" width="50" height="50">
                            {% endimage %}
                        {% elseif child.code ends with "registered" or child.code ends with "trademark" %}
                            {% image '@DothivShopBundle/Resources/public/images/grey-cross.svg' %}
                            <img src="{{ asset(asset_url) }}" alt="" width="50" height="50">
                            {% endimage %}
                        {% elseif child.code ends with "premium" %}
                            {% image '@DothivShopBundle/Resources/public/images/grey-diamond.svg' %}
                            <img src="{{ asset(asset_url) }}" alt="" width="50" height="50">
                            {% endimage %}
                        {% endif %}
                        {{ child.title|default("")|markdown|striptags('<a><em><strong><code>')|raw }}
                    </h3>
                    {{ child.text|default("")|markdown }}
                </div>
                {# Extra #}
                {% if child.code ends with "registered" %}
                    <p data-ng-repeat="alternative in alternatives">
                        <strong data-ng-bind="alternative"></strong>

                        <a class="primary" data-ng-href="{{ path('dothiv_shop_index', {'locale': locale}) }}/lookup/%%alternative%%">{{ child.strings[0].value }}</a>
                    </p>
                {% elseif child.code ends with "premium" %}
                    {% for button in child.strings|default([]) %}
                        {% if loop.first %}<nav>{% endif %}
                        {% if button.code ends with "sendrequest" %}
                            <a target="_blank" class="primary" data-ng-href="mailto:support@tld.hiv?subject=I+want+to+register+%%domain%%">
                                {{ button.value }}
                            </a>
                        {% endif %}
                        {% if loop.last %}</nav>{% endif %}
                    {% endfor %}
                {% else %}{# if child.code ends with "available" #}
                    {% for button in child.strings|default([]) %}
                        {% if loop.first %}<nav>{% endif %}
                        {% if button.code ends with "configure" %}
                            <a class="primary" data-ng-href="{{ path('dothiv_shop_index', {'locale': locale}) }}/configure/%%domain%%" data-ng-show="domain.search('4life.hiv') < 0">{{ button.value }}</a>
                            <a class="primary" data-ng-href="{{ path('dothiv_shop_index', {'locale': locale}) }}/configure4life/%%domain%%" data-ng-show="domain.search('4life.hiv') > 0">{{ button.value }}</a>
                        {% endif %}
                        {% if button.code ends with "reset" %}
                            <a href="{{ path('dothiv_shop_index', {'locale': locale}) }}">{{ button.value }}</a>
                        {% endif %}
                        {% if loop.last %}</nav>{% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
        {% for child in block.children %}
            {# 4life promo box #}
            {% if config('shop.promo.name4life.enable', 'bool') and child.code ends with "forlife.promo" %}
                <div class="block">
                    <div class="promo4life" data-ng-show="promoAvailable">
                        <div class="ribbon">
                            <h3>{{ child.strings[0].value|markdown|striptags('<a><em><strong><code>')|raw }}</h3>
                        </div>

                        <div class="header">
                            <h4>{{ child.title|markdown|striptags('<a><em><strong><code>')|raw }}</h4>

                            <p>{{ child.text|markdown|striptags('<a><em><strong><code>')|raw }}</p>
                        </div>

                        <div class="info">
                            {{ child.children[0].text|markdown }}
                        </div>

                        <div class="buy">
                            <div class="price">
                                {{ child.strings[1].value|markdown|striptags('<a><em><strong><code>')|raw }}
                            </div>
                            <a class="button" data-ng-href="{{ path('dothiv_shop_index', {'locale': locale}) }}/lookup/%%promoDomain%%">{{ child.strings[2].value }}</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </section>
</script>
