{% trans_default_domain "charity" %}<!DOCTYPE html><!--


            _|_|          _|_|
            _|_|          _|_|
            _|_|
            _|_|
            _|_|_|_|      _|_|  _|_|    _|_|
            _|_|_|_|_|    _|_|  _|_|    _|_|
            _|_|    _|_|  _|_|  _|_|    _|_|
            _|_|    _|_|  _|_|  _|_|    _|_|
            _|_|    _|_|  _|_|  _|_|    _|_|
      _|_|  _|_|    _|_|  _|_|    _|_|_|_|
      _|_|  _|_|    _|_|  _|_|      _|_|

      .hiv domains – The digital Red Ribbon

                  click4life.hiv

-->
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    {% set title %}{% spaceless %}
        {% if title|default("")|length > 0 %}{{ title }} |{% endif %}
        {% trans %}dothiv.fullname{% endtrans %}
    {% endspaceless %}{% endset %}
    <title>
        {{ title }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% stylesheets '@DothivCharityWebsiteBundle/Resources/public/lesscss/index/styles.less' filter='cssrewrite,?uglifycss' %}
    <link rel="stylesheet" href="{{ asset(asset_url) }}">
    {% endstylesheets %}
    <link rel="shortcut icon" href="{{ asset("bundles/dothivcharitywebsite/images/favicon.png") }}">
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,600' rel='stylesheet' type='text/css'>
    {% javascripts
    '@angular_js'
    filter='?uglifyjs2'
    output='js/*.min.js' %}
    <script type="text/javascript" src="{{ asset(asset_url) }}"></script>
    {% endjavascripts %}
    <!-- Social Media Sharing -->
    {% set description = description|default('home.who.text'|trans) %}
    <!-- Twitter cards support -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="dotHIV">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:creator" content="dotHIV">
    {% image '@DothivCharityWebsiteBundle/Resources/public/images/dotHiv-logo.png' %}
    <meta name="twitter:image:src" content="{{ app.request.uriForPath(asset_url) }}">
    {% endimage %}
    <!-- Facebook open graph support -->
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:site_name" content="{% trans %}dothiv.fullname{% endtrans %}">
    {% image '@DothivCharityWebsiteBundle/Resources/public/images/dotHiv-logo.png' %}
    <meta property="og:image" content="{{ app.request.uriForPath(asset_url) }}">
    {% endimage %}
    <meta property="og:type" content="website">
    <meta property="fb:app_id" content="{{ facebook_app_id }}">
    <base href="/">
</head>
<body data-ng-app="dotHIVApp">
<header>
    <div class="header" data-ng-controller="HeaderController" data-ng-class="{expanded: expanded}">
        <div>
            <div class="close-target" data-ng-click="close()"></div>
            <div class="logo">
                <h1>
                    <a href="/" rel="index">
                        {% image '@DothivCharityWebsiteBundle/Resources/public/images/logo.svg' %}
                        <img class="logo" src="{{ asset(asset_url) }}" alt="{% trans %}dothiv.fullname{% endtrans %}">
                        {% endimage %}
                        <small>{% trans %}dothiv.claim{% endtrans %}</small>
                    </a>
                </h1>
            </div>

            <div class="navigation">

                <nav class="meta">
                    {% if app.request.locale|slice(0,2) != 'en' %}
                        <a href="{{ '/en' ~ app.request.pathInfo|slice(3) }}">English</a>
                    {% endif %}
                    {% if app.request.locale|slice(0,2) != 'de' %}
                        <a href="{{ '/de' ~ app.request.pathInfo|slice(3) }}">Deutsch</a>
                    {% endif %}
                    {% if features.profile %}
                        <a href="{{ path('dothiv_charity_account_index', {'locale': app.request.locale}) }}">{% trans %}
                            header.menu.myprofile{% endtrans %}</a>
                    {% endif %}
                </nav>

                <nav class="main">
                    <a href="{{ path('dothiv_charity_about_index', {'locale': app.request.locale}) }}" class="twoline">
                        {% trans %}header.home.aboutHIV{% endtrans %}<br>
                        <small>{% trans %}header.home.aboutHIV.subtitle{% endtrans %}</small>
                    </a>
                    <a href="{{ path('dothiv_registry_content', {'locale': 'en', 'page': 'register'}) }}"
                       class="button">{% trans %}
                        header.bar.registerurl{% endtrans %}</a>
                </nav>

                {% block footernav %}
                    <nav class="footer">
                        <a href="{{ path('dothiv_charity_content', {'page': 'contact', 'locale': app.request.locale}) }}">{% trans %}
                            footer.navi.contact{% endtrans %}</a>
                        <a href="{{ path('dothiv_charity_content', {'page': 'imprint', 'locale': app.request.locale}) }}">{% trans %}
                            footer.navi.imprint{% endtrans %}</a>
                        <a href="{{ path('dothiv_registry_content', {'locale': 'en', 'page': 'report'}) }}">
                            {% trans %}footer.navi.report{% endtrans %}
                        </a>
                    </nav>
                    <nav class="footer">
                        <a class="social-link" href="https://www.facebook.com/dothiv" rel="me">
                            <i class="social charity-icon-facebook"></i>
                            {% trans %}footer.social.facebook{% endtrans %}
                        </a> <a class="social-link" href="https://twitter.com/dotHIV" rel="me">
                            <i class="social charity-icon-twitter"></i>
                            {% trans %}footer.social.twitter{% endtrans %}
                        </a>
                    </nav>
                {% endblock %}

            </div>

            <button class="toggle" type="button" data-ng-click="toggle()">
            <span>
                <span class="sr-only">{% trans %}toggle.nav{% endtrans %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </span>
            </button>
        </div>
    </div>
    {% if features.pinkbar_clickcounter %}
        {% include "DothivCharityWebsiteBundle:partials:pinkbar_clickcounter.html.twig" %}
    {% endif %}
</header>
{% set page = content('Page', 'home') %}
{% set tiles = page.blocks[0] %}
<div data-ng-cloak data-ng-controller="TilesController" data-ng-show="money">
    <div class="tiles">
        <article>
            <header>
                <h1>{{ tiles.title }}</h1>
                {{ tiles.text|markdown }}
            </header>
            {% for tile in tiles.children|default([]) %}
                <section class="tile {{ tile.code|replace({'tiles.': ''}) }}" data-ng-controller="TileController">
                    <div class="frontside" data-ng-show="!opened" data-ng-click="open()">
                        <h2>{{ tile.title|markdown|striptags('<a><em><strong>')|raw }}</h2>
                        {{ tile.text|markdown }}
                        <button class="opentile" data-ng-click="open()"></button>
                    </div>
                    <div class="backside" data-ng-show="opened">
                        {{ tile.textMore|markdown }}
                        <button class="closetile" data-ng-click="close()"></button>
                    </div>
                </section>
            {% endfor %}
        </article>
    </div>
    <hr class="arrow">
</div>
<main>
    {% set video = page.blocks[1] %}
    <article class="video-fullwidth">
        <header>
            <h2>{{ video.title }}</h2>
            {{ video.text|default("")|markdown }}
        </header>
        <section>
            <iframe width="569" height="320" src="{{ video.video.embed_url }}" allowfullscreen class="video"></iframe>
        </section>
        <footer class="cols3">
            <div>
                {{ video.textMore|default("")|markdown }}
            </div>
            <nav>
                <div>
                    <a href="https://twitter.com/share?url={{ video.video.url|url_encode }}&amp;text={{ video.title|url_encode }}"
                       class="twitter-share-button">{% trans %}share.twitter.button{% endtrans %}</a>
                </div>
                <div>
                    <div class="fb-like" data-href="{{ video.video.url }}" data-layout="button_count" data-action="like"
                         data-show-faces="false" data-share="true"></div>
                </div>
            </nav>
        </footer>
    </article>
    <hr class="arrow">
    {% set visitdomains = page.blocks[2] %}
    <div data-ng-cloak data-ng-controller="CharityHivDomainListController" data-ng-show="domain">
        <article class="countingsites">
            <header>
                <h2>{{ visitdomains.title }}</h2>
                {{ visitdomains.text|default("")|markdown }}
            </header>
            <section>
                <a data-ng-href="{{ '{{domain.link}}' }}" rel="friend" target="_blank">
                    <h3 data-ng-bind="domain.name" class="site"
                        data-ng-class="{long: domain.name.length > 25}"></h3>
                </a>
                <a data-ng-href="{{ '{{domain.link}}' }}" rel="friend" target="_blank" class="link">Visit site</a>
                <nav>
                    <button data-ng-click="prev()" class="prev"></button>
                    <button data-ng-click="next()" class="next"></button>
                </nav>
            </section>
        </article>
        <hr class="arrow">
    </div>
    <article>
        <section>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet
                dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
                in
                vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero et accumsan
                et
                iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla
                facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                tincidunt
                ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
                in
                hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at
                vero et
                accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te
                feugait
                nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod
                mazim placerat facer possim assum.</p>

            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet
                dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
                in
                vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero et accumsan
                et
                iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla
                facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                tincidunt
                ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
                in
                hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at
                vero et
                accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te
                feugait
                nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod
                mazim placerat facer possim assum.</p>

            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet
                dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
                in
                vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero et accumsan
                et
                iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla
                facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                tincidunt
                ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
                in
                hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at
                vero et
                accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te
                feugait
                nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod
                mazim placerat facer possim assum.</p>
        </section>
    </article>
</main>
<footer>
    <div>
        <article>
            <header>
                {% set footer = content('Block', 'footer.dotHIV') %}

                <h1>
                    <a href="/" rel="index">
                        {% image '@DothivCharityWebsiteBundle/Resources/public/images/logo.svg' %}
                        <img class="logo" src="{{ asset(asset_url) }}" alt="{% trans %}dothiv.fullname{% endtrans %}">
                        {% endimage %}
                        <small>{% trans %}dothiv.claim{% endtrans %}</small>
                    </a>
                </h1>
            </header>
            <section>
                {{ footer.text|markdown }}
            </section>
            {{ block('footernav') }}
            {% image '@DothivCharityWebsiteBundle/Resources/public/images/partners.png' %}
            <img class="couple" src="{{ asset(asset_url) }}" alt="">
            {% endimage %}
        </article>
    </div>
</footer>
{% block angular_app %}
    {% javascripts
    '@jquery'
    '@angular_ui_bootstrap'
    '@DothivCharityWebsiteBundle/Resources/public/js/contentApp.js'
    '@DothivBaseWebsiteBundle/Resources/public/js/filters/*.js'
    '@DothivCharityWebsiteBundle/Resources/public/js/controllers/*.js'
    filter='?uglifyjs2'
    output='js/*.min.js' %}
    <script type="text/javascript" src="{{ asset(asset_url) }}"></script>
    {% endjavascripts %}
{% endblock angular_app %}
{% block angular_config %}
    <script type="text/javascript">
        'use strict';
        angular.module('dotHIVApp.services').factory('config', function () {
            var config = {
                locale: '{{ app.request.locale }}'
            };
            return config;
        });
    </script>
{% endblock angular_config %}
{# Click-Counter #}
<script src="//dothiv-registry.appspot.com/static/clickcounter.min.js" type="text/javascript"></script>

{# Twitter #}
<script>!function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + '://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'twitter-wjs');</script>

{# Facebook #}
<div id="fb-root"></div>
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/{{ app.request.locale }}/sdk.js#xfbml=1&appId={{ facebook_app_id }}&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

{# Google #}
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', '{{ googleanalytics_charity }}', 'auto');
    ga('set', 'anonymizeIp', true);
    ga('send', 'pageview');
</script>
</body>
</html>
