{% trans_default_domain "charity" %}
<!DOCTYPE html>
<!--


            _|_|          _|_|
            _|_|          _|_|
            _|_|
            _|_|
            _|_|_|_|      _|_|  _|_|    _|_|
            _|_|_|_|_|    _|_|  _|_|    _|_|
            _|_|    _|_|  _|_|  _|_|    _|_|
            _|_|    _|_|  _|_|  _|_|    _|_|
            _|_|    _|_|  _|_|  _|_|    _|_|
      _|_|  _|_|    _|_|  _|_|    _|_|_|_|
      _|_|  _|_|    _|_|  _|_|      _|_|

 .hiv domains – The Red Ribbon of the digital age

                  click4life.hiv

-->
<html lang="{{ locale }}">
<head>
    <meta charset="utf-8">
    {% set title %}{% spaceless %}
        {% if title|default("")|length > 0 %}{{ title }} |{% endif %}
        {% trans %}dothiv.fullname{% endtrans %}
    {% endspaceless %}{% endset %}
    <title>
        {{ title }}
    </title>
    {% stylesheets '@DothivCharityWebsiteBundle/Resources/lesscss/custom-bootstrap.less' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset(asset_url) }}">
    {% endstylesheets %}
    <link rel="shortcut icon" href="{{ asset("bundles/dothivcharitywebsite/images/favicon.png") }}">
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,600' rel='stylesheet' type='text/css'>
    {% javascripts
    '@angular_js'
    '@DothivAngularJsBundle/Resources/public/extra/angular-ui.github.io/ui-bootstrap/2/angular-ui-bootstrap-tpls.js'
    filter='?ngmin,?closureecma5'
    output='js/*.min.js' %}
    <script type="text/javascript" src="{{ asset(asset_url) }}"></script>
    {% endjavascripts %}
    <!-- Social Media Sharing -->
    <!-- Twitter cards support -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="dotHIV">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{% trans %}home.who.text{% endtrans %}">
    <meta name="twitter:creator" content="dotHIV">
    {% image '@DothivCharityWebsiteBundle/Resources/public/images/dotHiv-logo.png' %}
    <meta name="twitter:image:src" content="{{ app.request.uriForPath(asset_url) }}">
    {% endimage %}
    <!-- Facebook open graph support -->
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{% trans %}home.who.text{% endtrans %}">
    <meta property="og:site_name" content="{% trans %}dothiv.fullname{% endtrans %}">
    {% image '@DothivCharityWebsiteBundle/Resources/public/images/dotHiv-logo.png' %}
    <meta property="og:image" content="{{ app.request.uriForPath(asset_url) }}">
    {% endimage %}
    <meta property="og:type" content="website">
    <meta property="fb:app_id" content="{{ facebook_app_id }}">
    <base href="/">
</head>
<body data-ng-app="dotHIVApp">
<div id="header">
    {% include "DothivCharityWebsiteBundle:partials:headnav.html.twig" %}
    {% if features.pinkbar_clickcounter %}
    {% include "DothivCharityWebsiteBundle:partials:pinkbar_clickcounter.html.twig" %}
    {% endif %}
    {% block header %}
        <hr class="bottom-shadow">
    {% endblock header %}
</div>
<div style="clear: both;"></div>

<div class="content">
    {% block content %}
    {% endblock content %}
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="span12 center footer-margin">
                {% set dothiv = content('Block', 'footer.dotHIV') %}


                <p class="footer-slogan">
                    <img class="hiv-42px" src="{{ dothiv.image.file.url }}" alt="{{ dothiv.image.title }}">
                    {{ dothiv.title }}
                </p>

                <div class="container">
                    <div class="row">
                        <div class="span4">
                            {{ dothiv.text|markdown }}
                        </div>
                        <div class="span4">
                            <ul>
                                <li>
                                    <a href="{{ path('dothiv_charity_content', {'page': 'contact', 'locale': locale}) }}">{% trans %}
                                        footer.navi.contact{% endtrans %}</a></li>
                                <li>
                                    <a href="{{ path('dothiv_charity_content', {'page': 'imprint', 'locale': locale}) }}">{% trans %}
                                        footer.navi.imprint{% endtrans %}</a></li>
                                <li>
                                    <a href="{{ path('dothiv_registry_content', {'locale': 'en', 'page': 'report'}) }}">
                                        {% trans %}footer.navi.report{% endtrans %}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="span4">
                            <ul>
                                <li>
                                    <a class="social-link" href="https://www.facebook.com/dothiv" rel="me">
                                        {% image '@DothivCharityWebsiteBundle/Resources/public/images/social/social-fb.png' %}
                                        <img class="social" src="{{ asset(asset_url) }}" alt="{% trans %}footer.social.facebook{% endtrans %}">
                                        {% endimage %}
                                        {% trans %}footer.social.facebook{% endtrans %}
                                    </a>
                                </li>
                                <li>
                                    <a class="social-link" href="https://twitter.com/dotHIV" rel="me">
                                        {% image '@DothivCharityWebsiteBundle/Resources/public/images/social/social-tw.png' %}
                                        <img class="social" src="{{ asset(asset_url) }}" alt="{% trans %}footer.social.facebook{% endtrans %}">
                                        {% endimage %}
                                        {% trans %}footer.social.twitter{% endtrans %}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

{% block angular_app %}
{% javascripts
'@jquery'
'@DothivCharityWebsiteBundle/Resources/public/contentApp.js'
'@DothivBaseWebsiteBundle/Resources/public/js/filters/*.js'
'@DothivCharityWebsiteBundle/Resources/public/controllers/*.js'
filter='?ngmin,?closureecma5'
output='js/*.min.js'
%}
<script type="text/javascript" src="{{ asset(asset_url) }}"></script>
{% endjavascripts %}
{% endblock angular_app %}
{% block angular_config %}
<script type="text/javascript">
    'use strict';
    angular.module('dotHIVApp.services').factory('config', function() {
        var config = {
            locale: '{{ locale }}'
        };
        return config;
    });
</script>
{% endblock angular_config %}

{# Click-Counter #}
<script src="//dothiv-registry.appspot.com/static/clickcounter.min.js" type="text/javascript"></script>

{# Twitter #}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

{# Facebook #}
<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/{{ app.request.locale }}/sdk.js#xfbml=1&appId={{ facebook_app_id }}&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

{# Google #}
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ googleanalytics_charity }}', 'auto');
    ga('set', 'anonymizeIp', true);
    ga('send', 'pageview');
</script>
</body>
</html>
