{% set title %}{{ page.title }}{% endset %}
{% extends "DothivCharityWebsiteBundle::page.html.twig" %}
{% block content %}
    <article class="about">
        <hr class="bottom-shadow">

        <div class="container">
            <div class="row">
                <aside class="span4">
                    {% for item in nav.items %}
                        {% if loop.first %}
                            <nav>
                            <ul>
                        {% endif %}
                        <li>
                            {{ item.title }}
                            {% for block in item.blocks %}
                                {% if loop.first %}
                                    <ul>
                                {% endif %}
                                <li>
                                    {% if block.title is defined %}
                                        <a href="{{ path('dothiv_charity_page', {'locale': locale, 'page': item.code|replace('.', '/') }) }}#{{ block.code|default(block.cfMeta.itemId)|slugify }}">{{ block.title }}</a>
                                    {% endif %}
                                </li>
                                {% if loop.last %}
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </li>
                        {% if loop.last %}
                            </ul>
                            </nav>
                        {% endif %}
                    {% endfor %}
                </aside>
                <div class="span8">
                    <section>
                        {% include "DothivCharityWebsiteBundle:partials:cfpage.html.twig" with {'page': page} %}
                    </section>
                </div>
            </div>
        </div>
    </article>
{% endblock %}
