{% set title %}{{ page.title }}{% endset %}
{% set description %}{{ page.description|default("") }}{% endset %}
{% extends "DothivCharityWebsiteBundle:Page:cfpage.html.twig" %}
{% block content %}
    <article class="about">
        <div class="container">
            <div class="row">
                <aside class="span4">
                    {% for item in nav.items %}
                        {% if loop.first %}
                            <nav>
                            <ul>
                        {% endif %}
                        <li>
                            {% set page_path = path('dothiv_charity_page', {'locale': locale, 'page': item.code|replace('.', '/') }) %}
                            <a href="{{ page_path }}"
                               {% if app.request.getPathInfo == page_path %}class="active"{% endif %}
                                >{{ item.title }}</a>
                            {% for block in item.blocks %}
                                {% if loop.first %}
                                    <ul>
                                {% endif %}
                                {% if block.title is defined and block.title != item.title %}
                                <li>
                                    <a href="{{ path('dothiv_charity_page', {'locale': locale, 'page': item.code|replace('.', '/') }) }}#{{ block.code|default(block.cfMeta.itemId)|slugify }}">{{ block.title }}</a>
                                </li>
                                {% endif %}
                                {% if loop.last %}
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </li>
                        {% if loop.last %}
                            </ul>
                            </nav>
                        {% endif %}
                    {% endfor %}
                </aside>
                <div class="span8">
                    <section>
                        {{ parent() }}
                    </section>
                </div>
            </div>
        </div>
    </article>
{% endblock %}
