{% set title %}{{ page.title }}{% endset %}
{% extends "DothivCharityWebsiteBundle::page.html.twig" %}
{% block content %}

    {% if features.howitworks %}
        {% include "DothivCharityWebsiteBundle:partials:howitworks.html.twig" %}
    {% endif %}

    <div class="container" id="about">
        <div class="row">
            <div class="offset6 span6">
                <h2>{% trans %}home.who.headline{% endtrans %}</h2>

                <p>
                    {% trans %}home.who.text{% endtrans %}
                    <a href="{{ path('dothiv_charity_about_index', {'locale': locale}) }}"><strong>{% trans %}
                            home.who.knowmore{% endtrans %}</strong></a>
                </p>

                <nav class="block">
                    <a href="{{ path('dothiv_registry_register', {'locale': locale}) }}" class="hero">{% trans %}
                        home.who.yourpage{% endtrans %}</a>
                    <a href="{{ path('dothiv_charity_page', {'page': 'about/fororg', 'locale': locale}) }}" class="hero">{% trans %}
                        home.who.howto{% endtrans %}</a>
                </nav>
            </div>
        </div>
        <div class="row bottom-hack">
            <div class="pos-rel">
                <img class="overflow-up" src="/bundles/dothivcharitywebsite/images/whosbehind.png">
            </div>
        </div>
    </div>
    <hr class="bottom-shadow">

    {# Projects #}
    {% include "DothivCharityWebsiteBundle:partials:projects.html.twig" %}

    {# Quotes #}
    <div ng-cloak ng-controller="QuoteController" ng-show="visible">
        <div class="container quotes">
            <div class="row">
                <div class="span12">
                    <h3 class="pull-left">{% trans %}home.quotes.headline{% endtrans %}</h3>
                    <a class="next2h3 pull-left"
                            href="{{ path('dothiv_charity_page', {'page': 'about/dotHIV', 'locale': locale}) }}#about-abouthiv-quotes">
                        <div class="heading-arrow"></div>
                        {% trans %}home.quotes.allquotes{% endtrans %}
                    </a>
                    <div class="pos-rel pull-left">
                        <img class="quote-bubbles" src="/bundles/dothivcharitywebsite/images/quote-bubbles.png">
                    </div>
                    <div class="next2h3 pull-right">
                        <button class="scroll" ng-click="quoteOffset = quoteOffset - 2"><i class="icon-tick-left"></i>
                        </button>
                        <button class="scroll" ng-cloak ng-click="quoteOffset = quoteOffset + 2"><i class="icon-tick-right"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row quote-container">
                <blockquote class="span6" ng-repeat="q in (quotes | carousel: quoteOffset | limitTo: 2)">
                    <article ng-bind-html-unsafe="q.quote"></article>
                    <footer>
                        <cite ng-bind="q.person"></cite>
                    </footer>
                </blockquote>
            </div>
        </div>
        <hr class="bottom-shadow">
    </div>

    {% for partner in partners %}
        {% if loop.first %}
        <div class="container partners">
            <div class="row">
                <div class="span12">
                    <h3 class="pull-left">{% trans %}home.partners.headline{% endtrans %}</h3>
                </div>
            </div>
            <div class="row">
        {% endif %}
            <div class="span3 offset1">
                <a href="{{ partner.url }}" rel="me friend" title="{{ partner.description|default('') }}">
                    <img src="{{ partner.logo.file.url }}" alt="{{ partner.organization }}">
                </a>
            </div>
        {% if loop.index % 3 == 0 %}
            </div>
            <div class="row">
        {% endif %}
        {% if loop.last %}
            </div>
            <div class="pull-right couple">
                <img src="/bundles/dothivcharitywebsite/images/partners.png">
            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}
