{% trans_default_domain "charity" %}
{% use "DothivCharityWebsiteBundle:partials:blocks.html.twig" %}
{% set title %}{{ page.title }}{% endset %}
{% set description %}{{ page.description|default("") }}{% endset %}
{% extends "DothivCharityWebsiteBundle::page.html.twig" %}
{% block content %}

    {% if features.howitworks %}
        {% include "DothivCharityWebsiteBundle:partials:howitworks.html.twig" %}
    {% endif %}

    <div class="container" id="about">
        <div class="row">
            <div class="offset6 span6">
                <h2>
                    <a href="{{ path('dothiv_charity_about_index', {'locale': locale}) }}">
                        {% trans %}home.who.headline{% endtrans %}
                    </a>
                </h2>

                <p>
                    {% trans %}home.who.text{% endtrans %}
                    <a href="{{ path('dothiv_charity_about_index', {'locale': locale}) }}"><strong>{% trans %}
                            home.who.knowmore{% endtrans %}</strong></a>
                </p>

                <nav class="block">
                    <a href="{{ path('dothiv_registry_content', {'locale': 'en', 'page': 'register'}) }}" class="hero">{% trans %}
                        home.who.yourpage{% endtrans %}</a>
                    <a href="{{ path('dothiv_charity_page', {'page': 'about/fororg', 'locale': locale}) }}" class="hero">{% trans %}
                        home.who.howto{% endtrans %}</a>
                </nav>
            </div>
        </div>
        <div class="row bottom-hack">
            <div class="pos-rel">
                {% image '@DothivCharityWebsiteBundle/Resources/public/images/whosbehind.png' %}
                <img class="overflow-up" src="{{ asset(asset_url) }}" alt="">
                {% endimage %}
            </div>
        </div>
    </div>
    <hr class="bottom-shadow">

    {# Domains #}
    <div data-ng-cloak data-ng-controller="CharityHivDomainListController" data-ng-show="domain">
        <div class="container domains">
            <div class="row">
                <div class="span12">
                    <h3>{% trans %}hivdomains.title{% endtrans %}</h3>
                </div>
            </div>
            <div class="row">
                <div class="span12 domain">
                    <h4 data-ng-bind="domain.name"></h4>
                    <a data-ng-href="{{ '{{domain.link}}' }}" rel="friend" target="_blank">Visit site</a>
                    <nav>
                        <a rel="prev" data-ng-click="prev()">&lt;</a>
                        <a rel="next" data-ng-click="next()">&gt;</a>
                    </nav>
                </div>
            </div>
        </div>
        <hr class="bottom-shadow">
    </div>

    {# Moments #}
    {% set heroes = content('Block', 'heroes') %}
    {% for hero in heroes.children|default([]) %}
        <div class="container domains">
            <div class="row">
                <div class="span12">
                    <h3>{{ hero.title|default("") }}</h3>
                </div>
            </div>
            <div class="row">
                {% set children = hero.children|default([hero]) %}
                {% set span_left = 12 %}
                {% set children_left = children|length %}
                {% for child in children %}
                    {% set child_span = child|behaviour('span') %}
                    {% if child_span > 0 %}
                        {% set span_left = span_left - child_span %}
                        {% set children_left = children_left - 1 %}
                    {% endif %}
                {% endfor %}
                {% set other_span = span_left / children_left %}
                {% for child in children %}
                {% set child_span = child|behaviour('span')|default(other_span) %}
                <div class="span{{ child_span }}">
                    {% if child.image is defined %}
                        {% set thumbnail_size = child|behaviour('thumbnails')|default('small') %}
                        <img src="{{ child.image.file.thumbnails[thumbnail_size] }}"
                             alt="{{ child.image.title }}"
                             {% if child.title is defined or child.text is defined %}
                             class="underlined-image"
                             {% else %}
                             class="image"
                             {% endif %}
                            >
                    {% endif %}

                    <h4>{{ child.title|default("") }}</h4>

                    {{ child.text|default("")|markdown }}

                </div>
                {% endfor %}
            </div>
        </div>
        <hr class="bottom-shadow">
    {% endfor %}

    {# Moments #}
    {% set hero = content('Block', 'clickstart') %}
    {% if hero %}
        {{ block('hero') }}
    {% endif %}

    {# Projects #}
    {% include "DothivCharityWebsiteBundle:partials:projects.html.twig" %}

    {# Quotes #}
    <div data-ng-cloak data-ng-controller="QuoteController" data-ng-show="visible">
        <div class="container quotes quotes-index">
            <div class="row">
                <div class="span12">
                    <h3 class="pull-left">{% trans %}home.quotes.headline{% endtrans %}</h3>
                    <div class="quotes-more">
                        <a href="{{ path('dothiv_charity_page', {'page': 'about/dotHIV', 'locale': locale}) }}#about-abouthiv-quotes">
                            {% trans %}home.quotes.allquotes{% endtrans %}
                        </a>
                    </div>
                    <nav>
                        <button class="scroll" data-ng-click="quoteOffset = quoteOffset - 2"><i class="icon-tick-left"></i>
                        </button>
                        <button class="scroll" data-ng-cloak data-ng-click="quoteOffset = quoteOffset + 2">
                            <i class="icon-tick-right"></i>
                        </button>
                    </nav>
                </div>
            </div>
            <div class="row quote-container">
                <article class="span6" data-ng-repeat="q in (quotes | carousel: quoteOffset | limitTo: 2)">
                    <blockquote data-ng-class="{medium: q.quoteLength > 100 && q.quoteLength < 200, long: q.quoteLength >= 200}">
                    <img src="//:0" data-ng-src="{% verbatim %}{{ q.photo.file.url }}{% endverbatim %}" data-ng-show="q.photo" alt="{% verbatim %}{{ q.person }}{% endverbatim %}">

                    <div data-ng-bind-html="q.quote"></div>

                    </blockquote>
                    <footer>
                        <cite data-ng-bind="q.person"></cite>

                        <p data-ng-bind-html="q.description"></p>
                    </footer>
                </article>
            </div>
        </div>
        <hr class="bottom-shadow">
    </div>

    <div class="container partners">
        <div class="row">
            {% set block = content('Block', 'index.partner') %}
            {% set nblock = 1 %}
            {% set level = 3 %}
            {{ block('cf_block') }}
        </div>
        <div class="couple"></div>
    </div>
{% endblock %}
