{% trans_default_domain "charity" %}
{% set title %}{{ page.title }}{% endset %}
{% set description %}{{ page.description|default("") }}{% endset %}
{% extends "DothivCharityWebsiteBundle:Page:cfpage.html.twig" %}
{% block content %}
    <article class="projects">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <section>
                        {{ parent() }}
                    </section>
                </div>
            </div>
        </div>

        {# Projects #}
        {% for project in projects %}

            {% set image = project.images[0] %}
            <section class="container" id="{{ project.organization|slugify }}">
                <div class="row-fluid">
                    <div class="span12">
                        <h3>{% if loop.length > 1 %}{{ loop.index }}. {% endif %}{{ project.organization }}<br><small>{{ project.title }}</small></h3>

                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span7">
                        <img src="{{ image.file.thumbnails.wide }}" alt="{{ project.organization }}" width="700" height="300">
                    </div>
                    <div class="span5">
                        <dl>
                            <dt>{% trans %}project.detail.locality{% endtrans %}</dt>
                            <dd>{{ project.country }}</dd>
                            <dt>{% trans %}project.detail.subcategory{% endtrans %}</dt>
                            <dd>{{ project.subcategory }}</dd>
                            <dt>{% trans %}project.detail.amount{% endtrans %}</dt>
                            <dd>{{ project.amount|money }}</dd>
                        </dl>
                        <a href="{{ project.website }}" class="external">{% trans %}project.visit.website{% endtrans %}</a>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span7">
                        {{ project.description|markdown }}
                    </div>
                    <div class="span5">

                    </div>
                </div>
            </section>
        {% endfor %}
    </article>
{% endblock %}
