{% trans_default_domain "charity" %}
{# This block renders a contenful block #}
{% block cf_block %}
    {% if "quotes_list" in block.behaviour|default('block')  %}
        {% include "DothivCharityWebsiteBundle:behaviour:quotes_list.html.twig" with {'block': block} %}
    {% elseif "experts_list" in block.behaviour|default('block')  %}
        {% include "DothivCharityWebsiteBundle:behaviour:experts_list.html.twig" with {'block': block} %}
    {% elseif "facebook_feed" in block.behaviour|default('block') %}
        {% include "DothivCharityWebsiteBundle:behaviour:facebook_feed.html.twig" %}
    {% elseif "twitter_stream" in block.behaviour|default('block') %}
        {% include "DothivCharityWebsiteBundle:behaviour:twitter_stream.html.twig" %}
    {% elseif "socialboard" in block.behaviour|default('block') %}
        {% include "DothivCharityWebsiteBundle:behaviour:socialboard.html.twig" %}
    {% else %}
        {% set thumbnail_size = thumbnail_size|default(block|behaviour('thumbnails')) %}
        {{ block('cf_contentBlock') }}
    {% endif %}
{% endblock cf_block %}

{% block cf_titleBlock %}
{% if block.title is defined %}
    <h{{ level }} >{{ block.title }}</h{{ level }}>
{% endif %}
{% endblock cf_titleBlock %}

{% block cf_textContentBlock %}
{% if block.text is defined %}
    <div class="cfblock-text">
        {{ block.text|markdown }}
    </div>
{% endif %}
{% if block.textMore is defined %}
    <nav class="cfblock-text-more expand-text">
        <a href="{{ app.request.getPathInfo }}#{{ block.code|default(block.cfMeta.itemId)|slugify }}" data-ng-click="textMoreVisible=1" data-ng-hide="textMoreVisible" class="more">{% trans %}expand.text.label{% endtrans %}</a>
    </nav>
    <div class="cfblock-textMore" data-ng-show="textMoreVisible">
        {{ block.textMore|markdown }}
    </div>
    <nav class="expand-text">
        <a href="{{ app.request.getPathInfo }}#{{ block.code|default(block.cfMeta.itemId)|slugify }}" data-ng-click="textMoreVisible=0" data-ng-show="textMoreVisible" class="less">{% trans %}contract.text.label{% endtrans %}</a>
    </nav>
{% endif %}
{% endblock cf_textContentBlock %}

{% block cf_contentBlock %}
{% set nchild = nchild|default(1) %}
{% set width = width|default(12) %}
{% set textclass = block|behaviour('text') %}
<div
    id="{{ block.code|default(block.cfMeta.itemId)|slugify }}"
    data-cf-url="{{ block.cfMeta.url }}"
    class="cf-{{ block.cfMeta.contentType }} cf-block-{{ nblock }} span{{ width }} cf-level-{{ level }} cf-child-{{ nchild }} {% if textclass %}cf-text-{{ textclass }}{% endif %}"
    data-ng-controller="BlockController"
    >
    {% set behaviour = block.behaviour|default('block') %}
    {% set headline_behaviour = block|behaviour('headline') %}
    {% if block.image.file is defined and "image_left" in behaviour %}
        {% if not headline_behaviour %}
            {{ block('cf_titleBlock') }}
        {% endif %}
        <div class="row-fluid">
            {% if "nooffset" in behaviour %}
            <div class="span4">
            {% else %}
            <div class="span3">
            {% endif %}
                {% set image_asset = block.image %}
                {% set image_link = block.imageLink|default(false) %}
                {{ block('cf_imageBlock') }}
            </div>
            {% if "nooffset" in behaviour %}
                <div class="span8">
            {% else %}
                <div class="span8 offset1">
            {% endif %}
                {% if headline_behaviour == "with_text" %}
                    {{ block('cf_titleBlock') }}
                {% endif %}
                {{ block('cf_textContentBlock') }}
            </div>
        </div>
    {% elseif block.image.file is defined and "image_right" in behaviour %}
        {% if not headline_behaviour %}
            {{ block('cf_titleBlock') }}
        {% endif %}
        <div class="row-fluid">
            <div class="span8">
                {% if headline_behaviour == "with_text" %}
                    {{ block('cf_titleBlock') }}
                {% endif %}
                {{ block('cf_textContentBlock') }}
            </div>
            {% if "nooffset" in behaviour %}
            <div class="span4">
            {% else %}
            <div class="span3 offset1">
            {% endif %}
                {% set image_asset = block.image %}
                {% set image_link = block.imageLink|default(false) %}
                {{ block('cf_imageBlock') }}
            </div>
        </div>
    {% else %}
            {% if not headline_behaviour %}
            {{ block('cf_titleBlock') }}
            {% endif %}
            {% if block.image.file is defined and "image_top" in behaviour %}
                {% set image_asset = block.image %}
                {% set image_link = block.imageLink|default(false) %}
                {{ block('cf_imageBlock') }}
            {% endif %}
            {% if headline_behaviour == "with_text" %}
            {{ block('cf_titleBlock') }}
            {% endif %}
            {{ block('cf_textContentBlock') }}
            {% if block.image.file is defined and "image_top" not in behaviour %}
                {% set image_asset = block.image %}
                {% set image_link = block.imageLink|default(false) %}
                {{ block('cf_imageBlock') }}
            {% endif %}
            {% if block.video is defined %}
                {{ block('cf_videoBlock') }}
            {% endif %}
            {% if block.downloads is defined %}
                {{ block('cf_downloadsBlock') }}
            {% endif %}
    {% endif %}
    {{ block('cf_childrenBlock') }}
</div>
{% endblock %}

{% block cf_childrenBlock %}
    {% if block.children is defined %}
        {% set level = level + 1 %}
        {# Idea: generate block name from behaviour tag, call block -> could break page #}
        {% if "column_children" in block.behaviour|default('block') %}
            <div class="row-fluid cf-columns">
                {% for child in block.children %}
                    {% set width = 12 / loop.length %}
                    {% set nchild = loop.index %}
                    {% set block = child %}
                    {{ block('cf_block') }}
                {% endfor %}
            </div>
        {% elseif "supporter_list" in block.behaviour|default('block') %}
            {% include "DothivCharityWebsiteBundle:behaviour:supporter_list.html.twig" with {'block': block} %}
        {% else %}
            {% set width = 12 %}
            {% for child in block.children %}
                <div class="row-fluid">
                    {% set nchild = loop.index %}
                    {% set block = child %}
                    {{ block('cf_block') }}
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block cf_imageBlock %}
    {% set src = image_asset.file.url %}
    {% set class = "cfblock-image" %}
    {% set src = image_asset.file.thumbnails[thumbnail_size|default('small')] %}
    {% set class = class ~ " cfblock-thumbnail-" ~ thumbnail_size|default('small') %}
    {% if image_link|default(false) %}<a href="{{ image_link }}">{% endif %}
    <img src="{{ src }}" alt="{{ image_asset.title }}" title="{{ image_asset.description|default(image_asset.title) }}" class="{{ class }}">
    {% if image_link|default(false) %}</a>{% endif %}
{% endblock cf_imageBlock %}

{% block cf_videoBlock %}
    <iframe width="569" height="320" src="{{ block.video.embed_url }}" allowfullscreen class="cfblock-video"></iframe>
{% endblock cf_videoBlock %}

{% block cf_downloadsBlock %}
    {% for download in block.downloads %}
        <div class="row-fluid">
            <div class="span8">
            <p>
                {{ download.title }}
                {% if download.description is defined %}
                    <br>
                    <small>{{ download.description }}</small>
                {% endif %}
            </p>
            </div>
            <div class="span4 cf-{{ download.cfMeta.contentType }}" data-cf-url="{{ download.cfMeta.url }}">
                <p>
                    <a href="{{ download.file.url }}" title="{{ download.title }}"><i class="icon icon-download-alt"></i> {% trans %}
                        block.download.file{% endtrans %}</a><br>
                    <small>{{ (download.file.details.size / 1024 / 1024) | round(0, 'ceil') }} MB</small>
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock cf_downloadsBlock %}

{% block loading %}
<p class="text-center">
    {% image '@DothivCharityWebsiteBundle/Resources/public/images/loader.gif' %}
    <img src="{{ asset_url }}" alt="{% trans %}loading.img{% endtrans %}">
    {% endimage %}
</p>
{% endblock loading %}
