<!-- adopt for mobile useage -->
<div id="pinbkar" data-unlocked="{{ pinkbar.unlocked }}" data-percent="{{ pinkbar.percent }}">
    <div class="pink-bar rightside">

        <div class="pink-bar leftside text-right" style="width: {{ pinkbar.percent * 100 }}%;" ng-style="{ width: bar.unlocked / bar.total *100 + '%' }">
            {% if pinkbar.percent > 0.4 %}
            <button type="button" ng-model="showfunding" btn-checkbox ng-show="bar.unlocked / bar.total * 10 > 4">
                <p>
                    <span class="pink-bar-text">{% trans %}home.pinkbar.activated{% endtrans %}</span>
                    <span class="pink-bar-text bold" id="active-money">{{ pinkbar.unlocked_label }}</span>
                    <i ng-show="!showfunding" class="icon-tick-lower icon-white"></i>
                    <i ng-show="showfunding" class="hidden icon-tick-upper icon-white"></i>
                </p>
            </button>
            {% endif %}
        </div>
        {% if pinkbar.percent < 0.4 %}
        <button type="button" ng-model="showfunding" btn-checkbox ng-show="bar.current / bar.total * 10 < 4">
            <p>
                <i ng-show="!showfunding" class="icon-tick-lower"></i>
                <i ng-show="showfunding" class="hidden icon-tick-upper"></i>
                <span class="pink-bar-text right">{% trans %}home.pinkbar.activated{% endtrans %}</span>
                <span class="pink-bar-text right bold" id="active-money">{{ pinkbar.unlocked_label }}</span>
            </p>
        </button>
        {% endif %}
    </div>
    <div class="pink-bar-popover-handle">
        <div ng-show="showfunding" ng-animate="{show: 'pink-bar-popover-show', hide: 'pink-bar-popover-hide'}"
             class="hidden pink-bar-popover">
            <div class="container">
                <div class="row first">
                    <div class="span6 pink-bar-text">
                        <p>{% trans %}home.pinkbar.popover.currentStatus{% endtrans %}</p>

                        <p><span class="activeMoney" id="active-money-popover">€ [[ bar.current ]]</span>
                            {% trans %}home.pinkbar.popover.areActivated{% endtrans %}</p>

                        <p><span class="activeMoney" id="clicks-popover">[[ bar.click ]] Klicks</span>
                            {% trans %}home.pinkbar.popover.missing{% endtrans %}</p>
                        <hr>
                        <p>{% trans %}home.pinkbar.popover.shareNow{% endtrans %}</p>
                    </div>
                    <div class="span6 pink-bar-text">
                        <iframe ng-show="showfunding" class="hidden" ng-src="//www.youtube.com/embed/l3ZHd8qbSpE"
                                allowfullscreen></iframe>
                        <p>{% trans %}home.pinkbar.popover.viewVideo{% endtrans %}
                            <br>{% trans %}home.pinkbar.popover.how{% endtrans %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
