{% trans_default_domain "charity" %}

{% for project in projects %}
    {% if loop.first %}
        <div class="container voteproject">
        <div class="row">
            <div class="span12">
                <h3 class="pull-left">{% trans %}home.vote.headline{% endtrans %}</h3>
                <a class="next2h3 pull-left" href="{{ path('dothiv_charity_page', {'page': 'about/dotHIV', 'locale': locale}) }}#about-abouthiv-moneyusage">
                    <div class="heading-arrow-pink"></div>
                    {% trans %}home.money.more{% endtrans %}
                </a>
            </div>
            {% if projects|length > 2 %}
            <div class="span12">
                {% block wherethemoneygoes %}
                    {% if locale == "de" %}
                        {% image '@DothivCharityWebsiteBundle/Resources/public/images/where_the_money_goes_960_w-de.jpg' %}
                        <img src="/assetic{{ asset_url }}" alt="" >
                        {% endimage %}
                    {% else %}
                        {% image '@DothivCharityWebsiteBundle/Resources/public/images/where_the_money_goes_960_w.jpg' %}
                        <img src="/assetic{{ asset_url }}" alt="" >
                        {% endimage %}
                    {% endif %}

                    {{ 'home.vote.header'|trans|markdown }}
                {% endblock wherethemoneygoes %}
            </div>
            {% endif %}
        </div>
        <div class="container">
            <div class="row projects-container">
                {% if projects|length <= 2 %}
                    <div class="{% if projects|length == 2 %}span6{% else %}span9{% endif %}">
                        {{ block('wherethemoneygoes') }}
                    </div>
                {% endif %}
    {% endif %}
    {% set image = project.images[0] %}
    <div class="{% if projects|length > 2 %}span{{ 12 / projects|length }}{% else %}span3{% endif %}">
        <img src="{{ image.file.thumbnails.small }}" alt="{{ project.organization }}">

        <h4>{{ project.organization }}</h4>

        <p>
            {{ project.title }}
        </p>

        {% if features.projects %}
            <p>
                <a href="{{ path('dothiv_charity_projects', {'locale': locale}) }}#{{ project.organization|slugify }}">{% trans %}projects.learn.more{% endtrans %}</a>
            </p>
        {% else %}
            <p>
                <a href="{{ project.website }}" rel="friend">{% trans %}project.visit.website{% endtrans %}</a>
            </p>
        {% endif %}

    </div>
    {% if loop.last %}
            </div>
        </div>
        </div>
        <hr class="bottom-shadow">
    {% endif %}
{% endfor %}
