{% for project in projects %}
    {% if loop.first %}
        <div class="container voteproject">
        <div class="row">
            <div class="span12">
                <h3 class="pull-left">{% trans %}home.vote.headline{% endtrans %}</h3>
                <a class="next2h3 pull-left"
                        href="{{ path('dothiv_charity_projects', {'locale': locale}) }}">
                    <div class="heading-arrow"></div>
                    {% trans %}home.vote.allprojects{% endtrans %} </a>
            </div>
            <div class="span12">
                <p>{% trans %}home.vote.header{% endtrans %}</p>
            </div>
        </div>
        <div class="container"><div class="row projects-container">

    {% endif %}
    {% set image = project.images[0] %}
    <a href="{{ path('dothiv_charity_projects', {'locale': locale}) }}">
        <div class="{{ "span" ~ (12 / projects|length) }}">
            <img src="{{ image.file.url }}" alt="{{ project.organization }}">

            <h4>{{ project.organization }}</h4>

            <p>{{ project.title }}</p>
        </div>
    </a>
    {% if loop.last %}
        </div>
        </div>
        </div>
        <hr class="bottom-shadow">
    {% endif %}
{% endfor %}
