{# This block renders a contenful block #}
{% block cf_block %}
    {% set thumbnail_size = thumbnail_size|default(block|behaviour('thumbnails')) %}
    {{ block('cf_contentBlock') }}
{% endblock cf_block %}

{% block cf_titleBlock %}
{% if block.title is defined %}
    <h{{ level }} >{{ block.title }}</h{{ level }}>
{% endif %}
{% endblock cf_titleBlock %}

{% block cf_textContentBlock %}
{% if block.text is defined %}
    <div class="cfblock-text">
        {{ block.text|markdown }}
    </div>
{% endif %}
{% if block.textMore is defined %}
    <nav class="cfblock-text-more expand-text">
        <a href="#{{ block.code|default(block.cfMeta.itemId)|slugify }}" ng-click="textMoreVisible=1" ng-hide="textMoreVisible" class="more">{% trans %}expand.text.label{% endtrans %}</a>
    </nav>
    <div class="cfblock-textMore" ng-show="textMoreVisible">
        {{ block.textMore|markdown }}
    </div>
    <nav class="expand-text">
        <a href="#{{ block.code|default(block.cfMeta.itemId)|slugify }}" ng-click="textMoreVisible=0" ng-show="textMoreVisible" class="less">{% trans %}contract.text.label{% endtrans %}</a>
    </nav>
{% endif %}
{% endblock cf_textContentBlock %}

{% block cf_contentBlock %}
{% set nchild = nchild|default(1) %}
{% set width = width|default(12) %}
<div
    id="{{ block.code|default(block.cfMeta.itemId)|slugify }}"
    data-cf-url="{{ block.cfMeta.url }}"
    class="cf-{{ block.cfMeta.contentType }} cf-block-{{ nblock }} span{{ width }} cf-level-{{ level }} cf-child-{{ nchild }}"
    ng-controller="BlockController"
    >
    {% set behaviour = block.behaviour|default('block') %}
    {% if block.image.file is defined and "image_left" in behaviour %}
        {{ block('cf_titleBlock') }}
        <div class="row-fluid">
            {% if "nooffset" in behaviour %}
            <div class="span4">
            {% else %}
            <div class="span3">
            {% endif %}
                {% set image_asset = block.image %}
                {{ block('cf_imageBlock') }}
            </div>
            {% if "nooffset" in behaviour %}
                <div class="span8">
            {% else %}
                <div class="span8 offset1">
            {% endif %}
                {{ block('cf_textContentBlock') }}
            </div>
        </div>
    {% elseif block.image.file is defined and "image_right" in behaviour %}
        {{ block('cf_titleBlock') }}
        <div class="row-fluid">
            <div class="span8">
                {{ block('cf_textContentBlock') }}
            </div>
            {% if "nooffset" in behaviour %}
            <div class="span4">
            {% else %}
            <div class="span3 offset1">
            {% endif %}
                {% set image_asset = block.image %}
                {{ block('cf_imageBlock') }}
            </div>
        </div>
    {% else %}
            {{ block('cf_titleBlock') }}
            {% if block.image.file is defined and "image_top" in behaviour %}
                {% set image_asset = block.image %}
                {{ block('cf_imageBlock') }}
            {% endif %}
            {{ block('cf_textContentBlock') }}
            {% if block.image.file is defined and "image_top" not in behaviour %}
                {% set image_asset = block.image %}
                {{ block('cf_imageBlock') }}
            {% endif %}
            {% if block.video is defined %}
                {{ block('cf_videoBlock') }}
            {% endif %}
            {% if block.downloads is defined %}
                {{ block('cf_downloadsBlock') }}
            {% endif %}
    {% endif %}
    {{ block('cf_childrenBlock') }}
</div>
{% endblock %}

{% block cf_childrenBlock %}
    {% if block.children is defined %}
        {% set level = level + 1 %}
        {% if "column_children" in block.behaviour|default('block') %}
            <div class="row-fluid cf-columns">
                {% for child in block.children %}
                    {% set width = 12 / loop.length %}
                    {% set nchild = loop.index %}
                    {{ block('cf_block_child') }}
                {% endfor %}
            </div>
        {% elseif "supporter_list" in block.behaviour|default('block') %}
            {# This should be moved to the charity bundle. #}
            {# Idea: generate block name from behaviour tag, call block -> could break page #}
            {% for child in block.children %}
                {% if loop.first %}
                    <div class="row-fluid cf-supporter">
                {% endif %}
                        <div class="span2">
                            <div class="logo">
                                {% if child.image is defined %}
                                    {% set image_asset = child.image %}
                                    {% set thumbnail_size = 'supporter' %}
                                    {{ block('cf_imageBlock') }}
                                {% endif %}
                            </div>
                            <p>
                                {{ child.title|default("") }}
                            </p>
                            {% if child.text is defined %}
                            {{ child.text|markdown }}
                            {% endif %}
                        </div>
                {% if loop.index % 6 == 0 %}
                    </div>
                    <div class="row-fluid cf-supporter">
                {% endif %}
                {% if loop.last %}
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            {% set width = 12 %}
            {% for child in block.children %}
                <div class="row-fluid">
                    {% set nchild = loop.index %}
                    {{ block('cf_block_child') }}
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block cf_imageBlock %}
    {% set src = image_asset.file.url %}
    {% set class = "cfblock-image" %}
    {% if thumbnail_size %}
        {% set src = image_asset.file.thumbnails[thumbnail_size] %}
        {% set class = class ~ " cfblock-thumbnail-" ~ thumbnail_size %}
    {% endif %}
    <img src="{{ src }}" alt="{{ image_asset.title }}" title="{{ image_asset.description|default(image_asset.title) }}" class="{{ class }}">
{% endblock cf_imageBlock %}

{% block cf_videoBlock %}
    <iframe width="569" height="320" src="{{ block.video.embed_url }}" frameborder="0" allowfullscreen class="cfblock-video"></iframe>
{% endblock cf_videoBlock %}

{% block cf_block_child %}
    {% if "enumerate_children" in block.behaviour|default('block') %}
        <div class="span2 cf-level-{{ level }} cf-child-{{ nchild }}">
            <div class="cf-child-enumeration">{{ nchild }}</div>
        </div>
        {% set width = width - 2 %}
        {% set block = child %}
        {{ block('cf_block') }}
    {% else %}
        {% set block = child %}
        {{ block('cf_block') }}
    {% endif %}
{% endblock cf_block_child %}

{% block cf_downloadsBlock %}
    {% for download in block.downloads %}
        <div class="row-fluid">
            <div class="span8">
            <p>
                {{ download.title }}
                {% if download.description is defined %}
                    <br>
                    <small>{{ download.description }}</small>
                {% endif %}
            </p>
            </div>
            <div class="span4 cf-{{ download.cfMeta.contentType }}" data-cf-url="{{ download.cfMeta.url }}">
                <p>
                    <a href="{{ download.file.url }}" title="{{ download.title }}"><i class="icon icon-download-alt"></i> {% trans %}
                        block.download.file{% endtrans %}</a><br>
                    <small>{{ (download.file.details.size / 1024 / 1024) | round(0, 'ceil') }} MB</small>
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock cf_downloadsBlock %}
