<!DOCTYPE html>
<html lang="en" ng-app="dotHIVApp" xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <meta charset="utf-8">
        <meta name="fragment" content="!">
        <title ng-translate="title">dotHIV</title>
        {% stylesheets '@DotHivWebsiteCompanyBundle/Resources/lesscss/custom-bootstrap.less' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link rel="shortcut icon" href="{{ asset("bundles/dothivwebsitecompany/images/favicon.png") }}" />
        <script src="//use.edgefonts.net/source-sans-pro:n6.js"></script>
    </head>
    <body>
        <div class="page" ng-controller="HeaderController">
            <div style="width: 100%; height: 100%; background: white; z-index: 10000; position: absolute; top: 0; left: 0;" ng-show="!finishedbooting"></div>
            <div style="height: 40px;"></div>
            <div class="container header">
                <div class="row">
                    <div class="span2 pull-right"></div>
                    <div class="span1 usermenu pull-right">
                        <ul class="">
                            <li class="accountance"><a href="{{ charitydomain }}/domainconfig" class="hover-arrow">[[ 'gmbh.header.domainconfig' | translate ]]</a></li>
                            <li class="accountance"><a href="{{ charitydomain }}" rel="friend met" class="hover-arrow">[[ 'gmbh.header.back' | translate ]]</a></li>
                            <li class="accountance grey">
                                <div class="language-chooser">
                                    <dh-select class="" model="locale.language" options="siteLanguages" label="label" assign="key"></dh-select>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row bottom-hack">
                    <div class="pos-rel">
                        <div class="overflow-up">
                            <div>
                                <a href="/" rel="index">
                                    <img class="pull-left" src="{{ asset("bundles/dothivwebsitecompany/images/hiv-logo.png") }}" alt="[[ 'gmbh.logo.alt' | translate ]]">
                                    <div class="headline pull-left">
                                        <div class="space" class="title">
                                            [[ 'gmbh.header.title.line01' | translate ]]<br>
                                            [[ 'gmbh.header.title.line02' | translate ]]
                                        </div>
                                    </div>
                                </a>                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 30px;"></div>
            <hr class="just bottom-shadow">
            <div class="jumbotron infobox bottom-shadow">
                <div class="container">
                    <div class="row">
                        <div class="span1">
                            <h5 class="hivblue-text">[[ 'gmbh.menu.main' | translate ]]</h5>
                            <ul>
                                <li class="accountance"><a href="#!/policies">[[ 'gmbh.menu.policies' | translate ]]</a></li>
                                <li class="accountance"><a href="#!/launch">[[ 'gmbh.menu.launch' | translate ]]</a></li>
                                <li class="accountance"><a href="#!/whois">[[ 'gmbh.menu.whois' | translate ]]</a></li>
                                <li class="accountance"><a href="#!/registrars">[[ 'gmbh.menu.registrars' | translate ]]</a></li>
                                <li class="accountance"><a href="#!/stats">[[ 'gmbh.menu.stats' | translate ]]</a></li>
                            </ul>
                        </div>
                        <div class="span3"></div>
                        <div class="span1">
                            <h5 class="hivblue-text">[[ 'gmbh.menu.forcompanies' | translate ]]</h5>
                            <ul>
                                <li class="accountance"><a href="#!/red-ribbon">[[ 'gmbh.menu.redribbon' | translate ]]</a></li>
                                <li class="accountance"><a href="#!/register/nonprofit">[[ 'gmbh.menu.registercharity' | translate ]]</a></li>
                                <li class="accountance"><a href="#!/concepts">[[ 'gmbh.menu.concepts' | translate ]]</a></li>
                                <li class="accountance"><a href="#!/register">[[ 'gmbh.menu.registernow' | translate ]]</a></li>
                                <li class="accountance"><a href="{{ charitydomain }}/domainconfig">[[ 'gmbh.menu.domainconfig' | translate ]]</a></li>
                            </ul>
                        </div>
                        <div class="span3"></div>
                        <div class="span1">
                            <h5 class="hivblue-text">[[ 'gmbh.menu.ourregistry' | translate ]]</h5>
                            <ul>
                                <li class="accountance"><a href="#!/support-us">[[ 'gmbh.menu.supportus' | translate ]]</a></li>
                                <li class="accountance"><a href="#!/registry">[[ 'gmbh.menu.company' | translate ]]</a></li>
                                <li class="accountance"><a href="#!/icann">[[ 'gmbh.menu.icann' | translate ]]</a></li>
                                <li class="accountance"><a href="#!/team">[[ 'gmbh.menu.team' | translate ]]</a></li>
                                <li class="accountance"><a href="#!/contact">[[ 'gmbh.menu.contact' | translate ]]</a></li>
                            </ul>
                        </div>
                        <div class="span3"></div>
                    </div>
                </div>
            </div>

            <div style="clear: both;"></div>
            <div class="content" ui-view></div>

            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="span12 center footer-margin">
                            <img class="hiv-42px" src="{{ asset("bundles/dothivwebsitecompany/images/hiv-logo.png") }}" alt="[[ 'gmbh.logo.alt' | translate ]]">
                            <div class="container">
                                <div class="row">
                                    <div class="span4">
                                        <p class="running-text bold-text">[[ 'gmbh.footer.slogan' | translate ]]</p>
                                    </div>
                                    <div class="span4">
                                        <p class="running-text">
                                            [[ 'gmbh.footer.name' | translate ]]<br>
                                            [[ 'gmbh.footer.street' | translate ]]<br>
                                            [[ 'gmbh.footer.city' | translate ]]<br>
                                            <a href="tel:[[ 'gmbh.footer.phone' | translate ]]">[[ 'gmbh.footer.phone' | translate ]]</a>
                                        </p>
                                    </div>
                                    <div class="span4">
                                        <ul>
                                            <li><a href="#!/contact" class="running-text">[[ 'gmbh.footer.navi.contact' | translate ]]</a></li>
                                            <li><a href="#!/report" class="running-text">[[ 'gmbh.footer.navi.report' | translate ]]</a></li>
                                            <li><a href="#!/imprint" class="running-text">[[ 'gmbh.footer.navi.imprint' | translate ]]</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
    
            {% include 'DotHivWebsiteCompanyBundle:Default:app.html.twig' %}
        </div>
    </body>
</html>
