{% import "DothivRegistryWebsiteBundle:Macros:cf.html.twig" as cf %}
{% for block in page.blocks %}
    <div class="row">
        <div class="span12">
            <h1>{{ block.title }}{{ cf.link(block, locale == "ky") }}</h1>

            {{ block.text|extra_markdown }}
        </div>
    </div>
    {% if block.image %}
        <div class="row">
            <div class="span12">
                <img src="{{ block.image.file.url }}" alt="{{ block.image.title }}" title="{{ block.image.description }}">
                {{ cf.link(block.image, locale == "ky") }}
            </div>
        </div>
    {% endif %}
{% endfor %}
<p>{{ cf.link(page, locale == "ky") }}</p>
