{% trans_default_domain "registry" %}
{% set title %}{{ page.title }}{% endset %}
{% extends "DothivRegistryWebsiteBundle::page.html.twig" %}

{% block cf_block_textcontent %}
    {% if block.title is defined %}
        <h{{ level }}>{{ block.title }}</h{{ level }}>
    {% endif %}
    {{ block.text|default("")|markdown }}
    {% if block.image is defined %}
    {% endif %}
{% endblock cf_block_textcontent %}

{% block cf_block_imagecontent %}
    {% if block.image.file is defined %}
        {% set image_asset = block.image %}
        {% set image_link = block.imageLink|default(false) %}
        {% if thumbnail_size == "original" %}
        {% set src = image_asset.file.url %}
        {% else %}
        {% set src = image_asset.file.thumbnails[thumbnail_size|default('small')] %}
        {% endif %}
        {% if image_link|default(false) %}<a href="{{ image_link }}">{% endif %}
        <img src="{{ src }}" alt="{{ image_asset.title }}" title="{{ image_asset.description|default(image_asset.title) }}">
        {% if image_link|default(false) %}</a>{% endif %}
    {% endif %}
{% endblock cf_block_imagecontent %}

{% block cf_block_videocontent %}
    {% if block.video is defined %}
        <iframe width="616" height="346" src="{{ block.video.embed_url }}" allowfullscreen class="video"></iframe>
    {% endif %}
{% endblock cf_block_videocontent %}

{% block cf_block_downloads %}
    {% if block.downloads is defined %}
        {% for download in block.downloads %}
            {% if loop.first %}
                <ul class="downloads">
            {% endif %}
            <li>
                <a href="{{ download.file.url }}" title="{{ download.title }}">{{ download.title }}</a>
                <small>({{ (download.file.details.size / 1024 / 1024) | round(0, 'ceil') }} MB)</small>
                {% if download.description is defined %},
                    <small>{{ download.description }}</small>{% endif %}
            </li>
            {% if loop.last %}
                </ul>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock cf_block_downloads %}

{% block cf_block_module %}
    {% set module = block|behaviour('module') %}
    {% if module %}
        {% include "DothivRegistryWebsiteBundle:behaviour:" ~ module ~ ".html.twig" with {'block': block} %}
    {% endif %}
{% endblock cf_block_module %}

{% block cf_block_children %}
    {% set level = level+1 %}
    {% if block.children is defined %}
        {% if block|behaviour('children') == "column" %}
            {% set blocks = block.children %}
            {{ block('cf_section') }}
        {% else %}
            {% for childBlock in block.children %}
                {% set blocks = [childBlock] %}
                {{ block('cf_section') }}
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock cf_block_children %}

{% block cf_section %}
    {% set level = level|default(2) %}
    {% set cols = blocks|length %}
    <section class="cf-level-{{ level }} {% if cols > 1 %}cols{{ cols }}{% endif %}">
        {% for block in blocks %}
            {{ block('cf_block') }}
        {% endfor %}
    </section>
{% endblock cf_section %}

{% block cf_block %}
    {% set thumbnail_size = thumbnail_size|default(block|behaviour('thumbnails')) %}
    {% set text_class = block|behaviour('text') %}
    {% set image_pos = block|behaviour('image') %}
    <div id="{{ block.code|default(block.cfMeta.itemId)|slugify }}" data-cf-url="{{ block.cfMeta.url }}" class="block {{ text_class }}">
        {% if image_pos == "top" %}
        {{ block('cf_block_imagecontent') }}
        {{ block('cf_block_textcontent') }}
        {% else %}
        {{ block('cf_block_textcontent') }}
        {{ block('cf_block_imagecontent') }}
        {% endif %}
        {{ block('cf_block_videocontent') }}
        {{ block('cf_block_downloads') }}
        {{ block('cf_block_module') }}
        {{ block('cf_block_children') }}
    </div>
{% endblock cf_block %}

{% block content %}
    {% set aside = page.aside|default([]) %}
    {% if aside|length > 0 %}
    <div class="content-with-aside">
    {% endif %}
    <article class="content">
        {% for childBlock in page.blocks|default([]) %}
            {% set blocks = [childBlock] %}
            {{ block('cf_section') }}
        {% endfor %}
    </article>
    {% if aside|length > 0 %}
        <aside>
            {% for childBlock in aside %}
            {% set blocks = [childBlock] %}
            <article class="content">
                {{ block('cf_section') }}
            </article>
            {% endfor %}
        </aside>
    </div>
    {% endif %}
{% endblock %}
