{% trans_default_domain "registry" %}
{% set title %}{{ page.title }}{% endset %}
{% extends "DothivRegistryWebsiteBundle::page.html.twig" %}

{% block cf_block_textcontent %}
    {% if block.title is defined %}
        <h{{ level }}>{{ block.title }}</h{{ level }}>
    {% endif %}
    {{ block.text|default("")|markdown }}
{% endblock cf_block_textcontent %}

{% block cf_block_children %}
    {% if block.children is defined %}
        {% set level = level + 1 %}
        {% for child in block.children %}
            {% set block = child %}
            {{ block('cf_block') }}
        {% endfor %}
    {% endif %}
{% endblock cf_block_children %}

{% block cf_block_downloads %}
    {% if block.downloads is defined %}
        {% for download in block.downloads %}
            {% if loop.first %}
            <ul class="downloads">
            {% endif %}
                <li>
                    <a href="{{ download.file.url }}" title="{{ download.title }}">{{ download.title }}</a> <small>({{ (download.file.details.size / 1024 / 1024) | round(0, 'ceil') }} MB)</small>
                    {% if download.description is defined %}, <small>{{ download.description }}</small>{% endif %}
                </li>
            {% if loop.last %}
            </ul>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock cf_block_downloads %}

{% block cf_block_module %}
    {% set module = block|behaviour('module') %}
    {% if module %}
        {% include "DothivRegistryWebsiteBundle:behaviour:" ~ module ~ ".html.twig" with {'block': block} %}
    {% endif %}
{% endblock cf_block_module %}

{% block cf_block %}
    {% set level = level|default(2) %}
    <section class="cf-level-{{ level }}">
        <div class="block">
            {{ block('cf_block_textcontent') }}
            {{ block('cf_block_downloads') }}
            {{ block('cf_block_module') }}
            {{ block('cf_block_children') }}
        </div>
    </section>
{% endblock %}

{% block content %}
    <article class="content">
        {% for block in page.blocks|default([]) %}
            {{ block('cf_block') }}
        {% endfor %}
    </article>
{% endblock %}
