{% trans_default_domain "charity" %}
{% use "DothivPremiumConfiguratorBundle:partials:configure/blocks.html.twig" %}
<div class="extras-intro" data-ng-hide="showExtras">
    <div class="fields-legend">
        {{ section.text|markdown }}
        <button data-ng-click="showExtras = true">{{ section.textMore }}</button>
    </div>
    <div class="fields">
        {% if section.image is defined %}
            <img src="{{ section.image.file.thumbnails.medium }}" alt="{{ section.image.title }}">
        {% endif %}
    </div>
</div>
<form role="form" novalidate name="extrasForm" data-ng-show="showExtras" class="extras">
    <fieldset>
        <div class="form-group">
            <label for="extrasHeadline">
                {% trans %}pc.extras.headline.label{% endtrans %}
            </label>
            <input type="text" id="extrasHeadline"
                    maxlength="255"
                    data-ng-maxlength="255"
                    data-ng-model="premiumBanner.extrasHeadline"
                    data-ng-blur="updatePremiumSettings()"
                    >
        </div>
        <div class="form-group">
            <label for="extrasText">
                {% trans %}pc.extras.text.label{% endtrans %}
            </label>
            <textarea id="extrasText"
                    data-ng-model="premiumBanner.extrasText"
                    data-ng-blur="updatePremiumSettings()"
                    ></textarea>
        </div>
        <div class="form-group">
            <label for="extrasLinkUrl">
                {% trans %}pc.extras.link.url.label{% endtrans %}
            </label>
            <input type="url" id="extrasLinkUrl"
                    maxlength="255"
                    data-ng-maxlength="255"
                    data-ng-model="premiumBanner.extrasLinkUrl"
                    data-ng-blur="updatePremiumSettings()"
                    data-ng-required="premiumBanner.extrasLinkLabel"
                    >
        </div>
        <div class="form-group">
            <label for="extrasLinkLabel">
                {% trans %}pc.extras.link.label.label{% endtrans %}
            </label>
            <input type="text" id="extrasLinkLabel"
                    maxlength="255"
                    data-ng-maxlength="255"
                    data-ng-model="premiumBanner.extrasLinkLabel"
                    data-ng-blur="updatePremiumSettings()"
                    >
        </div>
    </fieldset>
    {% set imageType = 'extrasVisual' %}
    {{ block('imageupload') }}
    <nav>
        <button type="reset"
                data-ng-click="clearExtras()"
                data-ng-disabled="!(premiumBanner.extrasHeadline || premiumBanner.extrasText || premiumBanner.extrasLinkUrl || premiumBanner.extrasVisual)"
                >{% trans %}pc.extras.button.reset{% endtrans %}</button>
        <button type="submit"
                data-ng-click="showExtras = false; updatePremiumSettings()"
                data-ng-disabled="extrasForm.$invalid"
                >{% trans %}pc.extras.button.save{% endtrans %}</button>
    </nav>
</form>
