{% trans_default_domain "charity" %}
<form role="form" novalidate name="fontsForm" class="font">
    <div class="fields-legend">
        {{ section.text|markdown }}
    </div>
    <div class="fields">
        {% set fontType = 'headline' %}
        {% set minFontSize = 8 %}
        {% set maxFontSize = 30 %}
        {% set fontSize = 22 %}
        {% block font %}
            <fieldset>
                <div class="form-group">
                    <label for="font-{{ fontType }}">
                        {{ ('pc.font.' ~ fontType ~ '.name')|trans }}
                    </label>
                    <input type="text" id="font-{{ fontType }}"
                            maxlength="255"
                            data-ng-maxlength="255"
                            data-ng-model="fontsForm.{{ fontType }}FontLabel"
                            data-typeahead="font as font.family for font in fonts | filter:$viewValue | limitTo:3"
                            data-typeahead-on-select="{{ fontType }}FontSelected($item, $model, $label)"
                            data-ng-blur="updatePremiumSettings()"
                            >
                </div>
                <div class="form-group" data-ng-show="fontsForm.{{ fontType }}FontLabel && fontsForm.{{ fontType }}Font">
                    <label for="font-{{ fontType }}Style"> {{ ('pc.font.' ~ fontType ~ '.style')|trans }}<br> </label>
                    <select name="{{ fontType }}FontWeight" id="font-{{ fontType }}Style"
                            data-ng-model="premiumBanner.{{ fontType }}FontWeight"
                            data-ng-options="style for style in fontsForm.{{ fontType }}Font.variants"
                            data-ng-change="updatePremiumSettings()"
                            ></select>
                </div>
                <div class="form-group" data-ng-show="fontsForm.{{ fontType }}FontLabel && fontsForm.{{ fontType }}Font">
                    <label for="font-{{ fontType }}Size"> {{ ('pc.font.' ~ fontType ~ '.size')|trans }}<br> </label>
                    <input type="number" id="font-{{ fontType }}Size" name="font-{{ fontType }}Size"
                            data-ng-model="premiumBanner.{{ fontType }}FontSize"
                            data-ng-change="updatePremiumSettings()"
                            min="{{ minFontSize }}"
                            max="{{ maxFontSize }}"
                            value="{{ fontSize }}"
                            >
                </div>
            </fieldset>
        {% endblock %}
        {% set fontType = 'text' %}
        {% set fontSize = 14 %}
        {{ block('font') }}
    </div>
</form>
