{% trans_default_domain "charity" %}
{% set redirect = section.children[0] %}
{% set lang = section.children[1] %}
{% set firstvisit = section.children[2] %}
{% set subsequentvisit = section.children[3] %}
<form role="form" novalidate name="bannerForm">
    <fieldset>
        <div class="fields">
            <div class="form-group">
                <label for="redirect_url">
                    {{ redirect.title }}
                </label>
                <input type="url" id="redirect_url" data-ng-model="banner.redirect_url" data-ng-blur="updateBannerSettings()">
            </div>
        </div>
        <div class="fields-legend">
            {{ redirect.text|default()|markdown }}
        </div>
    </fieldset>
    <fieldset>
        <div class="fields">
            <div class="form-group">
                <label>
                    {{ lang.title }}
                </label>
                <div>
                {% for l in ['en', 'de', 'es', 'fr'] %}
                    <label class="radio-inline">
                        <input type="radio" name="defaultLanguage" value="{{ l }}" data-ng-model="banner.language" data-ng-blur="updateBannerSettings()">
                        {% set code = 'domain.language.' ~ l %}
                        {{ code|trans }}
                    </label>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="fields-legend">
            {{ lang.text|default()|markdown }}
        </div>
    </fieldset>
    <fieldset>
        <div class="fields">
            <div class="form-group">
                <label>
                    {{ firstvisit.title }}
                </label>
                <div>
                    {% for p in ['center', 'top', 'right'] %}
                        <label class="radio-inline">
                            <input type="radio" name="firstVisit" value="{{ p }}" data-ng-model="banner.position_first" data-ng-change="updateBannerSettings()">
                            {% set code = 'domain.position.' ~ p %}
                            {{ code|trans }}
                        </label>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="fields-legend">
            {{ firstvisit.text|default()|markdown }}
        </div>
    </fieldset>
    <fieldset>
        <div class="fields">
            <div class="form-group">
                <label>
                    {{ subsequentvisit.title }}
                </label>
                <div>
                    {% for p in ['center', 'top', 'right'] %}
                        <label class="radio-inline">
                            <input type="radio" name="subsequentVisit" value="{{ p }}" data-ng-model="banner.position" data-ng-change="updateBannerSettings()">
                            {% set code = 'domain.position.' ~ p %}
                            {{ code|trans }}
                        </label>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="fields-legend">
            {{ subsequentvisit.text|default()|markdown }}
        </div>
    </fieldset>
</form>
